<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      class="demo-ruleForm"
    >
    <el-row :gutter="10">
      <el-form-item>
        <el-button icon="el-icon-check" @click="submitForm('ruleForm')" round data-cy="submit_form">Submit</el-button>
        <!-- <el-button icon="el-icon-close" @click="resetForm('ruleForm')" round data-cy="rest_form">Reset</el-button> -->
      </el-form-item>
      <el-col :span="12">
        <el-card>
          <div slot="header" style="height: 50px; display: flex; justify-content: space-between; align-items: center">
            <span>Farm Layout Type</span>
            <el-form-item label="" prop="layout_type" style="margin-bottom: 0px">
              <el-select v-model="ruleForm.layout_type" data-cy="layout_type">
                <el-option label="User Specified" value="verification"></el-option>
                <el-option label="Optimization" :disabled="false" value="optimization"></el-option>
              </el-select>
            </el-form-item>
          </div>
          <!-- <div slot="header"></div> -->
          <div>
            <scatter :scatter_data="dummylayout" :user_layout="userLayout" :lease_area="leaseArea" :dir="dir"></scatter>
            <el-form-item label="Notes" prop="notes">
              <el-input type="textarea" v-model="ruleForm.notes" data-cy="notes"></el-input>
            </el-form-item>
          </div>
        </el-card>

      </el-col>

      <el-col :span="12">
        <el-card v-if="optimization">
          <div slot="header" style="height: 50px; display: flex; justify-content: space-between; align-items: center">


            <span>Layout Optimization Definition</span>
          </div>
          <div>
            <el-form-item label="Target number of devices" prop="nb_devices">
              <el-input-number v-model="ruleForm.nb_devices" data-cy="nb_devices"></el-input-number>
            </el-form-item>
            <el-form-item label="Flex Items">
              <el-checkbox v-model="flex_layout"></el-checkbox>
              <el-alert v-if="flex_layout"
                title="Flex Device Enabled"
                type="info"
                description="The final number of devices will be between 0.5 Nb and 1.5 Nb, where Nb is the target number of devices"
                show-icon>
              </el-alert>
              <el-alert v-else
                title="Flex Device Disabled"
                type="info"
                description="The final number of devices will be equal or smaller then the number given as tentative."
                show-icon>
              </el-alert>
            </el-form-item>
            <el-form-item label="Optimization Method" prop="opt_method">
              <el-select v-model="ruleForm.opt_method" placeholder="Optimization Method" clearable data-cy="opt_method">
                <el-option label="Monte Carlo" value="monte_carlo"></el-option>
                <el-option label="CMA-ES" value="cmaes"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item  label="Optimization Threshold" prop="optimisation_threshold">
              <el-input-number v-model="ruleForm.optimisation_threshold" :precision="2" :step="0.05" :max="1" :min=0 data-cy="optimisation_threshold"></el-input-number>
            </el-form-item>
            <el-form-item label="Array Type" prop="array_generic_type">
              <el-select v-model="ruleForm.array_generic_type" placeholder="Rectangular"  data-cy="array_generic_type">
                <el-option label="Rectangular" value="rectangular"></el-option>
                <el-option label="Staggered" value="staggered"></el-option>
                <el-option label="4-parameters" value="full"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Orientation Angle" prop="orientation">
              <el-tooltip content="If not given is calculated from the site condition with highest probabiliy of occurence" placement="top">
                <i class="el-icon-info"></i>
              </el-tooltip>
              <el-input-number v-model="orientation" :controls="false" data-cy="orientation_angle" :precision="2" :min="0" :max=360 :step="0.01"></el-input-number>
            </el-form-item>
            <el-form-item label="Minimum Interdistance X-direction" prop="minimum_interdistance">
              <el-tooltip content="Minimum layout interdistance along the x-axis of the device." placement="top">
                <i class="el-icon-info"></i>
              </el-tooltip>
              <el-input-number v-model="ruleForm.minimum_interdistance[0]" :controls="false" data-cy="minimum_interdistance_x" :precision="2" :min="0" :step="0.01"></el-input-number>
            </el-form-item>
            <el-form-item label="Minimum Interdistance Y-direction" prop="minimum_interdistance">
              <el-tooltip content="Minimum layout interdistance along the y-axis of the device." placement="top">
                <i class="el-icon-info"></i>
              </el-tooltip>
              <el-input-number v-model="ruleForm.minimum_interdistance[1]" :controls="false" data-cy="minimum_interdistance_y" :precision="2" :min="0" :step="0.01"></el-input-number>
            </el-form-item>
          </div>
        </el-card>
        <el-card v-else >
          <div slot="header" style="height: 50px; display: flex; justify-content: space-between; align-items: center">
            <span>User Layout Definition</span>
            <upload-excel-component :only-button="uploadButton" :on-success="handleSuccess" :before-upload="beforeUpload" />
          </div>
          <div class="app-container">
            <el-button style="margin-top: -50px" type="text" icon="el-icon-circle-plus-outline" data-cy="add_device_button" @click.native.prevent="addRow()">Add New Device</el-button>
            <el-button style="margin-top: -50px" type="text" icon="el-icon-delete" data-cy="remove_all_device_button" @click.native.prevent="deleteAll()">Delete All Devices</el-button>
            <el-table
              :data="rows"
              border
              :row-class-name="tableRowClassName"
              style="width: 100%;margin:0px;"
              :cell-style="{padding: '0px', margin: '0px', height: '20px'}"
            >
              <el-table-column width="35px">
                <template slot-scope="scope">
                  <el-button
                    type="text"
                    size="small"
                    icon="el-icon-delete"
                    @click.native.prevent="deleteRow(scope.$index, rows)"
                  />
                </template>
              </el-table-column>
              <el-table-column prop="easting" label="Easting (m)" header-align="center">
                <template slot-scope="scope">
                  <el-input-number style="width: 100%" v-model="scope.row.easting" :controls="false" :precision="2" size="mini" />
                </template>
              </el-table-column>
              <el-table-column prop="northing" label="Northing (m)" header-align="center">
                <template slot-scope="scope">
                  <el-input-number style="width: 100%" v-model="scope.row.northing" :controls="false" :precision="2" size="mini" />
                </template>
              </el-table-column>
              <el-table-column prop="orientation" label="Orientation (deg)" header-align="center">
                <template slot-scope="scope">
                  <el-input-number style="width: 100%" v-model="scope.row.orientation" :controls="false" :precision="2" size="mini" />
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-card>
        <div>
          <Plotly :data="data_plot" :layout="layout"></Plotly>
        </div>
      </el-col>
    </el-row>
    </el-form>
  </div>
</template>

<script>
import axios from "axios"
import mixin from "@/mixin.js"
import UploadExcelComponent from '@/components/UploadExcel/index.vue'
import _ from 'lodash'
import { Plotly } from 'vue-plotly'
import Scatter from '@/components/Scatter/index.vue'
import { mean, matrix, apply, multiply, sum, zeros, sin, cos, atan2 } from 'mathjs'


const b_tidal = [0,60,80,90,100,120,0,-60,-80,-90,-100,-120,0,150,175,185,210,0, 0,0,3,0,-3,0]
const r_tidal = [0,0.25,0.5,1,0.5,0.25,0,0.25,0.5,1,0.5,0.25,0,0.25,2,2,0.25,0, 1,2,2,2.5,2,2]
const b_wave = [0,24,48,72,96,120,144,168,192,216,240,264,288,312,336,360, 0,0,0,3,0,-3,0]
const r_wave = [0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5, 0,1,2,2,2.5,2,2]

export default {
  components: {
    UploadExcelComponent, Plotly, Scatter
  },
  mixins: [mixin],
  watch: {
    "ruleForm.layout_type": function(val) {
      if (val == "optimization") {
        this.optimization = true
      } else {
        this.opt_method = ""
        this.optimization = false
      }
    }
  },
  created() {
    this.get_farm_inputs();
  },
  data() {
    return {
      sc_orientation: 0,
      flex_layout: false,
      dummylayout: {x: [], y: [], id: [], title: 'Array Layout'},
      userLayout: [],
      leaseArea: {x: [-10,200,200,-10,-10], y: [-10,-10,200,200,-10]},
      dir: {
        x: 0,
        y: 0,
        xref: 'x',
        yref: 'y',
        text: '',
        showarrow: true,
        arrowhead: 1,
        ax: -10,
        ay: -10,
        arrowcolor: 'rgba(10,10,10,0.4)'
      },
      layout: {
        title: 'Device Orientation',
        polar: {
          theta: 'directions',
          radialaxis: {
            visible: false
          },
          angularaxis: {
            tickvals: [0,90,180,270],
            ticktext: ['North', 'East', 'South', 'West'],
            tickfont: {
              size: 8
            },
            rotation: 90,
            direction: "counterclockwise"
          }
        },
        font: {
          family: 'Arial, sans-serif;',
          size: 12,
          color: '#000'
        },
        showlegend: true,
        orientation: "counterclockwise"
      },
      orientation: 0,
      uploadButton: true,
      duplicated_index_list: [],
      outside_index_list: [],
      header: ['x','y'],
      rows: [{easting: 0, northing: 0, orientation: 0}],
      optimization: null,
      array_layout: null,
      ruleForm: {
        orientation_angle: [0],
        nb_devices: 1,
        layout_type: "verification",
        minimum_interdistance: [10,10],
        opt_method: "",
        optimisation_threshold: 0.5,
        array_layout: [],
        notes: "",
        array_generic_type: "rectangular"
      },
      rules: {
        nb_devices: [
          {
            required: true,
            message: "Please input the target number of devices",
            trigger: "blur"
          }
        ],
        layout_type: [
          {
            required: true,
            message: "Please select how to specify the layout of the farm",
            trigger: "change"
          }
        ],
        array_layout: [
          {
            required: true,
            message: "Please define the device layout as [0,0],[100,100]",
            trigger: "change"
          }
        ],
        notes: [
          {
            required: false,
            message: "Please input activity form",
            trigger: "blur"
          }
        ]
      },
    }
  },
  computed: {
    complexity() {
      return this.$store.getters.complexity
    },
    machine() {
      return this.$store.getters.machine_type
    },
    data_plot() {
      var r = r_tidal
      var base_vector = b_tidal
      this.layout.polar.angularaxis.direction = 'clockwise'
      this.layout.polar.angularaxis.rotation = 90
      if (this.machine === 'wec') {
        r = r_wave
        base_vector = b_wave
        this.layout.polar.angularaxis.direction = 'counterclockwise'
        this.layout.polar.angularaxis.rotation = 0
        this.layout.polar.angularaxis.tickvals = [0,90,180,270]
        this.layout.polar.angularaxis.ticktext = ['East', 'North', 'West', 'South']
      }
      var data = []
      var theta = []

      if (this.ruleForm.layout_type === 'optimization') {
        theta = base_vector.map(ob=>ob+this.orientation)
        data.push(
          {
            r: r,
            theta: theta,
            mode: 'lines',
            name: 'Array Orientation',
            type: 'scatterpolar',
            fill: "toself",
            text: ['test']
          }
        )
      } else {
        this.validateProvidedLayout()
        this.userLayout = []
        for (let i=0; i<this.rows.length; i++) {
          this.userLayout.push([this.rows[i].easting, this.rows[i].northing])
          theta = base_vector.map((ob)=>{return ob+this.rows[i].orientation})
          data.push(
            {
              r: r,
              theta: theta,
              mode: 'lines',
              type: 'scatterpolar',
              name: `Device ${i+1}`,
              fill: "toself"
            }
          )
        }
      }
      return data
    },
    studyId() {
      return this.$store.getters.studyId
    },
    columnDefs(){
      var headers = [];
      for (var i=0; i<this.header.length; i++){
        headers.push({ sortable: false, field: this.header[i], type: 'numeric', headerName: this.header[i], editable: true });
      }
      return headers
    }
  },
  methods: {
    deleteAll() {
      this.rows = []
      this.ruleForm.nb_devices = 0
    },
    addRow() {
      this.rows.push({ northing: 0, easting: 0, orientation: 0})
      this.ruleForm.nb_devices += 1
    },
    deleteRow(index, rows) {
      rows.splice(index, 1)
      this.ruleForm.nb_devices -= 1
    },
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1MB in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      if (!header.includes('northing') ||
          !header.includes('easting') ||
          !header.includes('orientation')
      ) {
        this.$message({
          message: 'Unsupported format: Header name MUST be [northing, easting, orientation]',
          type: 'error'
        })
        return false
      }
      this.dataHandling(results)
    },
    dataHandling(res) {
      this.rows = res
      this.ruleForm.nb_devices = this.rows.length
    },
    tableRowClassName({row, rowIndex}) {
      if (this.duplicated_index_list.includes(rowIndex)) {
        return 'error-row'
      } else if (this.outside_index_list.includes(rowIndex)) {
        return 'warning-row'
      }
      // if (!_.isEmpty(this.duplicated_index_list)) {
      //   for (let i=0; i<this.duplicated_index_list.length; i++) {
      //     if (rowIndex === this.duplicated_index_list[i]) {
      //       return 'warning-row'
      //     }
      //   }
      // }
      return ''
    },
    hasDuplicates() {
      debugger
      const northing = this.rows.map(o => o.northing)
      const easting = this.rows.map(o => o.easting)
      var en_array = []
      this.duplicated_index_list = []
      var match = []
      for (let k=0; k<northing.length; k++) {
        en_array[k] = [easting[k], northing[k]]
        match[k] = false
      }

      for (var i = 0; i < en_array.length; i++) {
        var unique = en_array[i]
        for (var j = i+1; j < en_array.length; j++) {
          if (_.isEqual(unique,en_array[j])) {
            match[i] = true
            match[j] = true
          }
        }
      }
      for (var l = 0; l < match.length; l++) {
        if (match[l]) {
          this.duplicated_index_list.push(l)
        }
      }

      if (!_.isEmpty(this.duplicated_index_list)) {
        return true
      }

      return false
    },
    update_rows() {
      debugger
      if (this.ruleForm.layout_type == 'verification') {
        var list = []
        for (var i=0; i<this.ruleForm.nb_devices; i++){
            // const obj = this.header.reduce((o, key) => ({ ...o, [key]: 0}), {})
          list.push({
            easting: this.ruleForm.array_layout[i][0],
            northing: this.ruleForm.array_layout[i][1],
            orientation: this.ruleForm.orientation_angle[i]})
        }
        this.rows = list
      }
    },
    estimateDirection(site) {
      debugger
      var easting_mag = 0
      var northing_mag = -1
      if (this.machine.toLowerCase() === 'tec') {
        if (this.complexity === 3) {
          let U = matrix(site.U)
          let V = matrix(site.V)
          let p = matrix(site.probability)
          let u_mean = apply(apply(U,2,mean),1,mean)
          let v_mean = apply(apply(V,2,mean),1,mean)
          easting_mag = multiply(u_mean, p)
          northing_mag = multiply(v_mean, p)
          // var index_max = site.probability.indexOf(Math.max(...site.probability))
          // var u = mean(site.U[index_max])*10
          // var v = mean(site.V[index_max])*10
        } else if (this.complexity == 2) {
          easting_mag = site.velocity_field[0]
          northing_mag = site.velocity_field[1]
        }
      } else if (this.machine.toLowerCase() === 'wec') {
        if (this.complexity === 1) {
          easting_mag = 1
          northing_mag = 0
        } else {
          let tp = [...new Set(site.sea_state_wave_period)]
          let hs = [...new Set(site.sea_state_wave_height)]
          let beta = [...new Set(site.sea_state_directions)]
          let sd_mat = this.unravel(site.scatter_diagram,
                                    site.sea_state_wave_period,
                                    site.sea_state_wave_height,
                                    site.sea_state_directions,
                                    tp, hs, beta)
          debugger
          var SD = matrix(sd_mat)
          var p = apply(apply(SD,0,sum),0,sum)

          var imax = p._data.indexOf(Math.max(...p._data))

          var rad = beta[imax]/180.0*3.1415926536
          easting_mag = 1*sin(rad)
          northing_mag = -1*cos(rad)
          // 0 from north to south (0,-1)
          // 90 from east to west (-1,0)
          // 180 from south to north (0,1)
          // 270 from west to eash
        }
      }
      this.sc_orientation = 180.0*atan2(easting_mag, northing_mag)/3.14
      this.directionAnnotation(easting_mag, northing_mag)
    },
    unravel(I, X, Y, Z, x, y, z) {
      var arr = zeros(x.length, y.length, z.length)._data
      var l = 0
      var m = 0
      var n = 0
      for (let i=0; i<I.length; i++) {
        l = x.indexOf(X[i])
        m = y.indexOf(Y[i])
        n = z.indexOf(Z[i])
        arr[l][m][n] = I[i]
      }
      return arr
    },
    directionAnnotation(v_e, v_n) {
      debugger
      var dx = (Math.max(...this.leaseArea.x) - Math.min(...this.leaseArea.x)) / 9
      var dy = (Math.max(...this.leaseArea.y) - Math.min(...this.leaseArea.y)) / 9
      var x = Array.from({length: 10}, (_, i) => Math.min(...this.leaseArea.x) + dx * i)
      var y = Array.from({length: 10}, (_, i) => Math.min(...this.leaseArea.y) + dy * i)
      var vecField = []
      var v_norm = (v_e**2 + v_n**2)**0.5
      this.dir.ax = v_e/v_norm*10
      this.dir.ay = v_n/v_norm*10
      var d = null
      for (let ii=0; ii<x.length; ii++) {
        for (let jj=0; jj<y.length; jj++) {
          d = {...this.dir}
          d.x = x[ii]
          d.y = y[jj]
          vecField.push(d)
        }
      }
      this.dir = vecField
    },
    fetchLeaseArea(){
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/site`
      axios
        .get(path)
        .then(res => {
          this.leaseArea.x = res.data.loc_position.map(function(o) {return o[0]})
          this.leaseArea.y = res.data.loc_position.map(function(o) {return o[1]})
          this.estimateDirection(res.data)
          debugger
          this.dir.x = mean(this.leaseArea.x)
          this.dir.y = mean(this.leaseArea.y)
          // the following two lines are used to close the lease area perimeter in the plot
          this.leaseArea.x.push(this.leaseArea.x[0])
          this.leaseArea.y.push(this.leaseArea.y[0])
        })
        .catch(error => {
          console.error(error);
        })
    },
    get_farm_inputs() {
      this.fetchLeaseArea()
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/farm`;
      axios
        .get(path)
        .then(res => {
          debugger
          this.flex_layout = true
          if (res.data.array_generic_type.includes('fix')) {
            res.data.array_generic_type = res.data.array_generic_type.substring(0,
                                                    res.data.array_generic_type.length - 4)
            this.flex_layout = false
          }
          this.ruleForm = (({
              nb_devices, layout_type, minimum_interdistance,
              opt_method, optimisation_threshold,
              array_layout, notes,
              array_generic_type, orientation_angle
              }) => ({
              nb_devices, layout_type, minimum_interdistance,
              opt_method, optimisation_threshold,
              array_layout, notes,
              array_generic_type, orientation_angle
              }))(res.data);

          this.orientation = this.ruleForm.orientation_angle


          this.$store.dispatch('studies/updateStatus', { key: 'farm', value: true });
          this.updateProgress();
          this.update_rows()
        })
        .catch(error => {
          this.$store.dispatch('studies/updateStatus', { key: 'farm', value: false });
          this.updateProgress();
          this.update_rows();
          this.$message({
              message: error.response.data.message,
              type: 'error'});
        });
    },
    inside(point, vs) {
      // ray-casting algorithm based on
      // https://wrf.ecse.rpi.edu/Research/Short_Notes/pnpoly.html/pnpoly.html
      var x = point[0]
      var y = point[1]

      var inside = false
      for (var i = 0, j = vs.length - 1; i < vs.length; j = i++) {
          var xi = vs[i][0], yi = vs[i][1]
          var xj = vs[j][0], yj = vs[j][1]

          var intersect = ((yi > y) != (yj > y))
              && (x < (xj - xi) * (y - yi) / (yj - yi) + xi)
          if (intersect) inside = !inside
      }
      return inside
    },
    hasNull(array){
      var containNull = false
      for (let i = 0; i<array.length; i++){
        if (array[i] == null) {
          this.duplicated_index_list.push(i)
          containNull = true
        }
      }
      return containNull
    },
    validateProvidedLayout(raiseNotification=false) {
      debugger
      this.duplicated_index_list = []
      this.outside_index_list = []
      const array_easting = this.rows.map(o => o.easting)
      const array_northing = this.rows.map(o => o.northing)
      const array_orientations = this.rows.map(o => o.orientation)
      const array_layout = array_easting.map((it, i) => {return [it, array_northing[i]]})
      if (this.hasDuplicates(array_layout)){
        if (raiseNotification) {
          this.$notify({type: 'error',
          title: 'Device Outside Lease Area',
          message: 'The specified farm layout has duplicated values, correct the error and resubmit'})
        }
        return -1, 0
      }
      debugger

      if (this.hasNull(array_easting) || this.hasNull(array_northing) || this.hasNull(array_orientations)) {
        if (raiseNotification) {
          this.$notify({type: 'error',
            title: 'Invalid Data, action interrupted',
            message: 'Action Interrupted. Some of the given layout positions are null or not understood'})
        }
        return -3, 0
      }

      const lease_easting = this.leaseArea.x.slice(0,-1)
      const lease_northing = this.leaseArea.y.slice(0,-1)
      const lease = lease_easting.map((it, i) => {return [it, lease_northing[i]]})
      const inside_devices = array_layout.map( el => this.inside(el, lease))
      if (!inside_devices.some(Boolean)) {
        this.duplicated_index_list = inside_devices.flatMap((bool, index) => !bool ? index : [])
        if (raiseNotification) {
          this.$notify({type: 'error',
            title: 'Invalid Data, action interrupted',
            message: 'Invalid Data. The specified farm layout does not have any device inside the lease area, correct the error and resubmit'})
        }
        return -2, 0
      }

      if (!inside_devices.every(Boolean)) {
        this.outside_index_list = inside_devices.flatMap((bool, index) => !bool ? index : [])
        if (raiseNotification) {
          this.$notify({type: 'waring',
            title: 'Data save with warning',
            message: 'Some of the devices specified in the farm layout are not inside the given lease area'})
          }
      }

      return [array_layout, array_orientations, inside_devices]
    },
    update_array_form(payload) {
      // const array_easting = this.rows.map(o => o.easting)
      // const array_northing = this.rows.map(o => o.northing)
      // const array_orientations = this.rows.map(o => o.orientation)
      // const array_layout = array_easting.map((it, i) => {return [it, array_northing[i]]})
      // if (this.hasDuplicates(array_layout)){
      //   return -1
      // }
      // debugger

      // if (this.hasNull(array_easting) || this.hasNull(array_northing) || this.hasNull(array_orientations)) {
      //   return -3
      // }

      // const lease_easting = this.leaseArea.x.slice(0,-1)
      // const lease_northing = this.leaseArea.y.slice(0,-1)
      // const lease = lease_easting.map((it, i) => {return [it, lease_northing[i]]})
      // const inside_devices = array_layout.map( el => this.inside(el, lease))
      // if (!inside_devices.some(Boolean)) {
      //   return -2
      // }
      const [array_layout, array_orientations] = this.validateProvidedLayout(true)

      if (array_layout < 0) {
        return -1
      }

      payload.array_layout = array_layout
      payload.orientation_angle = array_orientations
      payload.nb_devices = array_layout.length
      payload.opt_method = ""

      // if (!inside_devices.every(Boolean)) {
      //   this.outside_index_list = inside_devices.flatMap((bool, index) => !bool ? index : [])
      //   this.$notify({type: 'waring',
      //                       title: 'Device Outside Lease Area',
      //                       message: 'Some of the devices specified in the farm layout are not inside the given lease area'})
      // }

      return payload
    },
    submit_input(payload) {
      var payload_copy = {...payload}
      // perform different tasks for the verification or optimization cases
      if (payload_copy.layout_type == 'verification') {
        const check_layout = this.update_array_form(payload_copy)
        if (check_layout < 0) {
          return
        }
      } else {
        if (this.orientation == null) {
          debugger
          this.orientation = this.sc_orientation-180
        }
        payload_copy.orientation_angle = [this.orientation]
      }
      if (!this.flex_layout) {
        payload_copy.array_generic_type += " fix"
      }

      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/farm`
      console.log('FARM', payload_copy)
      axios
        .put(path, payload_copy)
        .then(res => {
          this.$message({
              message: 'Farm input saved',
              type: 'success'})
          this.$store.dispatch('studies/updateStatus', { key: 'farm' , value: true })
          this.updateProgress()
        })
        .catch(error => {
          this.$message({
              message: error.response.data.message,
              type: 'error'})
        })
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submit_input(this.$refs[formName]._props["model"])
        } else {
          console.log("error submit!!")
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
}
</script>

<style>
.el-table .warning-row {
    background: rgb(231, 133, 14);
  }

.el-table .error-row {
  background: rgb(231, 72, 14);
}

.el-table .success-row {
  background: #f0f9eb;
}
</style>
