<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <span>Lease Area Vertexes: {{ site_data.loc_position }}</span>
    <hr>
    <span v-html="HTMLsummary"></span>
    <Plotly v-if="plot_data & !plot_ejdp" :data="data_plot" :layout="layout"></Plotly>
    <EJDP v-if="plot_data & plot_ejdp" :results="{ejdp: ejdp_mat}" :directions="directions" :tp="tp" :hs="hs"/>
  </div>
</template>


<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'
import * as mlib from 'mathjs'
import EJDP from '@/components/EJDP/index.vue'

export default {
  props: [
    'site_data', 'cpx', 'mac'
  ],
  components: {
    Plotly, EJDP
  },
  data() {
    return {
      plot_data: true,
      plot_ejdp: false,
      summary: '',
      HTMLsummary: null,
      layout: {
        margin: {
          l: 100,
          r: 50,
          b: 100,
          t: 100,
          pad: 4
        },
        xaxis: {title: {text: 'Tp, (s)'}},
        yaxis: {title: {text: 'Hs, (m)'}},
        title: 'Empirical Joint Probability Distribution'
      },
      directions: [],
      tp: [],
      hs: [],
      ejdp_mat: []
    }
  },
  computed: {
    data_plot(){
      debugger
      return this.select_type()
    }
  },
  methods: {
    select_type(){

      switch (`${this.mac}${this.cpx}`){
        case 'tec1':
          return this.tec1()
        case 'tec2':
          return this.tec2()
        case 'tec3':
          return this.tec3()
        case 'wec1':
          return this.wec1()
        case 'wec2':
          return this.wec2()
        case 'wec3':
          return this.wec3()
      }
    },
    tec1() {

      this.plot_data = false
      this.HTMLsummary = `<span>Depth Averaged Velocity Magnitude (m/s): ${this.site_data.loc_resource}</span></hr>`
      return []
    },
    tec2() {
      this.plot_data = false
      this.HTMLsummary = `
                              <span>Depth Averaged Velocity Vector (m/s): To East: ${this.site_data.velocity_field[0]}, To North: ${this.site_data.velocity_field[1]}</span>
                              <hr>
                          `;
      return []
    },
    tec3() {
      this.plot_data = true
      let U = mlib.matrix(this.site_data.U)
      let V = mlib.matrix(this.site_data.V)
      let d = U.size()
      let p = mlib.matrix(this.site_data.probability)

      let u_mean = mlib.apply(mlib.apply(U,2,mlib.mean),1,mlib.mean)
      let v_mean = mlib.apply(mlib.apply(V,2,mlib.mean),1,mlib.mean)
      let mag_vel_e = mlib.multiply(u_mean, p)
      let mag_vel_n = mlib.multiply(v_mean, p)

      this.layout.xaxis.title.text = 'ID (#)'
      this.layout.yaxis.title.text = 'Velocity (m/s)'
      this.layout.title = 'Probability of Occurence and Depth and Spatial Averaged Velocity'
      this.layout['yaxis2'] = {
                                title: 'Probability (%)',
                                titlefont: {color: 'rgb(148, 103, 189)'},
                                tickfont: {color: 'rgb(148, 103, 189)'},
                                overlaying: 'y',
                                side: 'right'
                              }

      this.HTMLsummary = `
                              <span>Depth Averaged Velocity Vector (m/s): To East: ${mag_vel_e}, To North: ${mag_vel_n}</span>
                              <hr>
                          `;

      p = mlib.multiply(p,100)
      return [{yaxis: 'y2', x: [...Array(this.site_data.probability.length).keys()], y: p._data, type: 'line', name: 'Probability'},
              {type: 'bar', x: [...Array(this.site_data.probability.length).keys()], y: u_mean._data, orientation: 'v', name: 'Easting Component'},
              {type: 'bar', x: [...Array(this.site_data.probability.length).keys()], y: v_mean._data, orientation: 'v', name: 'Northing Component'}]
    },
    wec1() {
      this.plot_data = false
      this.HTMLsummary = `<span>Average Energy Flux (W/m): ${this.site_data.loc_resource}</span></hr>`
      return []
    },
    wec2() {
      this.plot_data = true
      this.plot_ejdp = true
      this.setUpEJDP()

      // var z = this.site_data['scatter_diagram']

      // let d = [{
      //   type: 'contour',
      //   line:{smoothing: 0.85},
      //   contours: {coloring: 'heatmap'},
      //   x: this.site_data['sea_state_wave_period'],
      //   y: this.site_data['sea_state_wave_height'],
      //   z: z
      // }]
      return []
    },
    wec3() {
      this.plot_data = true
      this.plot_ejdp = true
      this.setUpEJDP()
      // this.plot_data = true
      // this.plot_ejdp = true

      // var z = this.site_data['scatter_diagram']
      // z = mlib.matrix(z)
      // z = mlib.squeeze(z)

      // let d = [{
      //   type: 'contour',
      //   line:{smoothing: 0.85},
      //   contours: {coloring: 'heatmap'},
      //   x: this.site_data['sea_state_wave_period'],
      //   y: this.site_data['sea_state_wave_height'],
      //   z: z._data
      // }]
      // return d
    },
    setUpEJDP() {
      this.tp = [...new Set(this.site_data['sea_state_wave_period'])]
      this.hs = [...new Set(this.site_data['sea_state_wave_height'])]
      const beta = [...new Set(this.site_data['sea_state_directions'])]
      this.ejdp_mat = this.unravel(this.site_data['scatter_diagram'],
                                  this.site_data['sea_state_wave_period'],
                                  this.site_data['sea_state_wave_height'],
                                  this.site_data['sea_state_directions'],
                                  this.tp, this.hs, beta)
      this.directions = beta.reduce((o, el, i) => ({ ...o, [i]: el + ' deg' }), {})
    },
    unravel(I, X, Y, Z, x, y, z) {
      var arr = mlib.zeros(x.length, y.length, z.length)._data
      var l = 0
      var m = 0
      var n = 0
      for (let i=0; i<I.length; i++) {
        l = x.indexOf(X[i])
        m = y.indexOf(Y[i])
        n = z.indexOf(Z[i])
        arr[l][m][n] = I[i]
      }
      return arr
    },
  }
}
</script>
