<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
    <div id="container_test"></div>
</template>

<script>
import * as Three from 'three'

export default {
  name: 'TreePlot',
  data() {
    return {
      camera: null,
      scene: null,
      renderer: null,
      mesh: null,
      count: 0,
      plane: null,
      planeGeo: 0,
      id: null
    }
  },
  methods: {
    init: function() {
      var container = document.getElementById('container_test')

      var vertexHeight = 15000,
        planeDefinition = 100,
        planeSize = 1245000,
        totalObjects = 1,
        background = "#002135",
        meshColor = "#005e97";

      var camera = new Three.PerspectiveCamera(55, window.innerWidth / window.innerHeight, 1, 400000)
      camera.position.z = 10000;
      camera.position.y = 10000;

      var scene = new Three.Scene();
      scene.fog = new Three.Fog(background, 1, 300000);

      var planeGeo = new Three.PlaneGeometry(planeSize, planeSize, planeDefinition, planeDefinition);
      var plane = new Three.Mesh(planeGeo, new Three.MeshBasicMaterial({
        color: meshColor,
        wireframe: true
      }));
      plane.rotation.x -= Math.PI * .5;

      scene.add(plane);

      var renderer = new Three.WebGLRenderer({alpha: false});
      renderer.setSize(window.innerWidth, window.innerHeight);
      renderer.setClearColor(background, 1);

      container.appendChild(renderer.domElement);

      for (var i = 0; i < planeGeo.vertices.length; i++) {
        planeGeo.vertices[i].z += Math.random() * vertexHeight - vertexHeight;
        planeGeo.vertices[i]._myZ = planeGeo.vertices[i].z
      }

      this.count = 0
      this.camera = camera
      this.planeGeo = planeGeo
      this.scene = scene
      this.renderer = renderer
      this.plane = plane
        // let container = document.getElementById('container_test');

        // this.camera = new Three.PerspectiveCamera(70, container.clientWidth/container.clientHeight, 0.01, 10);
        // this.camera.position.z = 1;

        // this.scene = new Three.Scene();

        // let geometry = new Three.BoxGeometry(0.2, 0.2, 0.2);
        // let material = new Three.MeshNormalMaterial();

        // this.mesh = new Three.Mesh(geometry, material);
        // this.scene.add(this.mesh);

        // this.renderer = new Three.WebGLRenderer({antialias: true});
        // this.renderer.setSize(container.clientWidth, container.clientHeight);
        // container.appendChild(this.renderer.domElement);

    },
    animate: function() {
      this.id = requestAnimationFrame(this.animate);
      // camera.position.z -= 150;
      var x = this.camera.position.x;
      var z = this.camera.position.z;
      this.camera.position.x = x * Math.cos(0.001) + z * Math.sin(0.001) - 10;
      this.camera.position.z = z * Math.cos(0.001) - x * Math.sin(0.001) - 10;
      this.camera.lookAt(new Three.Vector3(0, 8000, 0))

      for (var i = 0; i < this.planeGeo.vertices.length; i++) {
        var z = +this.planeGeo.vertices[i].z;
        this.planeGeo.vertices[i].z = Math.sin(( i + this.count * 0.00002)) * (this.planeGeo.vertices[i]._myZ - (this.planeGeo.vertices[i]._myZ* 0.6))
        this.plane.geometry.verticesNeedUpdate = true;

        this.count += 0.1
      }

      this.renderer.render(this.scene, this.camera);
        // requestAnimationFrame(this.animate);
        // this.mesh.rotation.x += 0.01;
        // this.mesh.rotation.y += 0.02;
        // this.renderer.render(this.scene, this.camera);
    }
  },
  beforeDestroy: function(){
    cancelAnimationFrame( this.id );
  },
  mounted() {
      this.init();
      this.animate();
  },

}
</script>

<style>
  /* #container_test {   height: 200px; width: 100%} */
  #container_test {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: hidden;
  /* filter: grayscale(90%); */
}

/* Codepen does some weird shit */
html, body {
  border: 0;
  padding: 0;
  margin: 0;
}
</style>


