<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <p>
    This is a temporary page for the landing of the Main Module. The user is redirected to the input page
    as soon as the Vuex state is completed.
  </p>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      ec_entity: null
    }
  },
  created() {
    var entityID = this.$route.query.entityID
    if ( entityID === undefined ) {
      // if the studyID is not defined and the entityID is not defined raise an error
      this.$message.error('Invalid Project ID, please go the Main Module page and re-open the correct entity for the Energy Capture Module')
      return -1
    }
    // if the studyID is not set and the entityID is available we save the value to Vuex
    this.$store.dispatch('studies/setId', { studyId: parseInt(entityID, 10) })
    this.getProject(parseInt(entityID, 10))
  },
  methods: {
    getProject(entityID) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${entityID}`
      axios
        .get(path)
        .then(res => {
          this.ec_entity = res.data
          this.openEntity()
        })
        .catch(error => {
          this.ec_entity = null
          this.$message.error(error)
          console.error(error)
        })
    },
    openEntity() {
      debugger
      this.$store.dispatch('studies/setId', { studyId: this.ec_entity.id })
      this.$store.dispatch('studies/setTitle', { studyTitle: this.ec_entity.title })
      this.$store.dispatch('studies/setComplexity', { complexity: this.ec_entity.complexity })
      this.$store.dispatch('studies/setMachine', { machine: this.ec_entity.type })

      this.$store.dispatch('studies/updateStatus', { key: 'results' , value: this.ec_entity.farm !== null })
      if (this.ec_entity.farm !== null) {
        this.$store.dispatch('studies/updateStatus', { key: 'farm', value: true })
        this.$store.dispatch('studies/updateStatus', { key: 'site', value: true })
        this.$store.dispatch('studies/updateStatus', { key: 'machine', value: true })
        this.$store.dispatch('studies/updateStatus', { key: 'results' , value: true })
        this.$router.push({ name: "SiteInput" })
        return 0
      }

      if (this.ec_entity.inputs == null){
        this.$store.dispatch('studies/updateStatus', { key: 'farm', value: false })
        this.$store.dispatch('studies/updateStatus', { key: 'site', value: false })
        this.$store.dispatch('studies/updateStatus', { key: 'machine', value: false })
        this.$router.push({ name: "SiteInput" })
        return 0
      }

      axios.all([
        this.get_farm_inputs(this.ec_entity.id),
        this.get_site_inputs(this.ec_entity.id),
        this.get_machine_inputs(this.ec_entity.id)
      ])
      .then(axios.spread((f, s, m) => {
        debugger
        this.$store.dispatch('studies/updateStatus', { key: 'farm', value: (f.data.layout_type == null) ? false : true })
        this.$store.dispatch('studies/updateStatus', { key: 'site', value: _.isEmpty(s.data) ? false : true })
        this.$store.dispatch('studies/updateStatus', { key: 'machine', value: _.isEmpty(m.data) ? false : true })
      }))
      .catch(error => {
        console.log(f,m,s)
      })

      this.$router.push({ name: "SiteInput" })
    },
    get_farm_inputs(studyId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${studyId}/inputs/farm`;
      return axios.get(path)
    },
    get_machine_inputs(studyId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${studyId}/inputs/machine`;
      return axios.get(path)
    },get_site_inputs(studyId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${studyId}/inputs/site`;
      return axios.get(path)
    },
  }
}
</script>
