<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <!-- <el-dialog
      title="Upload Machine Characterization Data"
      :visible.sync="dialog"
      width="auto"
      >
      <span>
        <el-upload
          class="upload-demo"
          style="margin-left: 35%"
          drag
          :action="uploadURL"
          :file-list="fileList"
          :on-success="upload_success"
          :on-error="upload_error">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
          <div class="el-upload__tip" slot="tip">json files with a size less than 500kb</div>
          <div class="el-upload__tip" slot="tip"><a href="../files/test.png" download>Download File Template</a></div>
        </el-upload>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelUpload">Cancel</el-button>
        <el-button type="primary" @click="submitUpload">Confirm</el-button>
      </span>
    </el-dialog> -->
    <div style="visibility: hidden">{{ projectStructure }}</div>
    <el-row :gutter="10">
      <el-col :span="20" :offset="2">
        <el-card>
          <div slot="header">
            <span>Machine Form </span>
            <span v-if="standalone" style="float:right; padding: 3px 0"> stand alone mode</span>
            <span v-else style="float:right; padding: 3px 0"> integrated mode</span>
            </div>
          <div>
            <!-- <el-button v-if="standalone" :disabled="!standalone" @click="dialog=true"  type="text">Upload JSON</el-button> -->
             <div
              title="Upload Machine Characterization Data"
              v-if="standalone"
              width="auto"
              >
              <span>
                <el-upload
                  class="upload-demo"
                  style="margin-left: 35%"
                  drag
                  :action="uploadURL"
                  :file-list="fileList"
                  :on-success="upload_success"
                  :on-error="upload_error">
                  <i class="el-icon-upload"></i>
                  <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                  <div class="el-upload__tip" slot="tip">json files with a size less than 500kb</div>
                  <div class="el-upload__tip" slot="tip"><a href="../files/test.png" download>Download File Template</a></div>
                </el-upload>
              </span>
              <!-- <span slot="footer" class="dialog-footer">
                <el-button @click="cancelUpload">Cancel</el-button>
                <el-button type="primary" @click="submitUpload">Confirm</el-button>
              </span> -->
            </div>
            <div v-else>
              <span>Integration Data:</span>
              <span>machine characterization entity ID: {{ machine_entity_id }}</span>
              <el-button type="primary" style="float:right; padding: 3px" @click="get_machine_mountebank">Fetch Machine</el-button>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="10" v-if="show_summary">
      <el-col :span="22" :offset="1">
        <hr>
        <hr>
        <h1>Machine Condition Summary</h1>
        <hr>
        <MachineSummaryPlot :cpx="complexity" :mac="type" :machine_data="machineData"></MachineSummaryPlot>
        <!-- <json-view :data="machineData" rootKey="Machine Data" /> -->
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";
import mixin from "@/mixin.js";
import _ from 'lodash';
import MachineSummaryPlot from '@/components/MachineSummaryPlot/index.vue';
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

// import { mapActions } from 'vuex';

export default {
  mixins: [mixin],
  components: { MachineSummaryPlot },
  created() {
    this.get_project();
    // this.get_site_mountebank();
  },
  computed: {
    projectStructure() {
      try {
        let prj_str = this.$store.getters.project_structure
        let study = prj_str.filter((s) => {return s.moduleId==3})
        let entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==2})
        this.machine_entity_id = entity[0].entityId
        this.standalone = false
      } catch (error) {
        this.$message.error(error)
        this.standalone = true
      }
      return this.$store.getters.project_structure
    },
    studyId() {
      return this.$store.getters.studyId
    }
  },
  data() {
    return {
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      machine_entity_id: null,
      machineURL: "mc/1",
      machineData: null,
      uploadURL: "",
      standalone: true,
      show_summary: false,
      machines: [],
      complexity: null,
      type: null,
      dialog: true,
      fileList: ['test.jpg'],
      imageUrl: '',
      formLabelWidth: '80px',
      timer: null,
      ruleForm: {
        machine_url: ""
      },
      data: [{
          label: 'Level one 1',
          children: [{
            label: 'Level two 1-1',
            children: [{
              label: 'Level three 1-1-1'
            }]
          }]
        }, {
          label: 'Level one 2',
          children: [{
            label: 'Level two 2-1',
            children: [{
              label: 'Level three 2-1-1'
            }]
          }, {
            label: 'Level two 2-2',
            children: [{
              label: 'Level three 2-2-1'
            }]
          }]
        }, {
          label: 'Level one 3',
          children: [{
            label: 'Level two 3-1',
            children: [{
              label: 'Level three 3-1-1'
            }]
          }, {
            label: 'Level two 3-2',
            children: [{
              label: 'Level three 3-2-1'
            }]
          }]
        }],
    };
  },
  methods: {
    get_machine_mountebank() {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/machine/fetch`;
      console.log({"url": `${DTOP_PROTOCOL}mc.${DTOP_DOMAIN}`, "entityID": this.machine_entity_id})
      axios
        .post(path, {"url": `${DTOP_PROTOCOL}mc.${DTOP_DOMAIN}`, "entityID": this.machine_entity_id})
        .then(res => {
          console.log('INTEGRATION', res)
          this.get_machine_data();
        })
        .catch(error => {
          debugger
          console.error('MOUNTBANK', error);
          this.$notify.error({
            title: error.response.data.status,
            message: error.response.data.message
          });
        });
    },
    handleNodeClick(data) {
      console.log(data);
    },
    upload_success() {
      this.$message.success('Upload Success')
      this.$store.dispatch('studies/updateStatus', { key: 'machine' , value: true})
      this.updateProgress()
      this.get_machine_data()
    },
    upload_error(err, file, fileList) {
      debugger
      console.log('ERR', err)
      this.$message.error(err.message)
      this.show_summary = false
    },
    uploadFile() {
      console.log('UPLOAD FILE')
    },
    submitUpload() {
      console.log(this.fileList)
      this.dialog = false
      this.show_summary = true
    },
    cancelUpload() {
      this.fileList = []
      this.dialog = false
      this.show_summary = false
    },
    get_project() {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}`

      axios
        .get(path)
        .then(res => {
          this.complexity = res.data.complexity;
          this.type = res.data.type.toLowerCase();
          this.uploadURL = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/upload/inputs/machine/${this.type}/complexity${this.complexity}`
          this.get_machine_data();
          // the project will receive the url from the dtop_main, but only one
          // URL will be given, the user will not select but only fetch the data
          // this.get_sites();
        })
        .catch(error => {
          console.error(error);
        });
    },
    get_machine_data() {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/machine`

      axios
        .get(path)
        .then(res => {
          console.log('MACHINE', res)
          this.machineURL = res.data.url
          this.machineData = res.data
          this.show_summary = false
          if (_.isEmpty(res.data)) {
            this.$store.dispatch('studies/updateStatus', { key: 'machine' , value: false })
          } else {
            this.show_summary = true
            this.$store.dispatch('studies/updateStatus', { key: 'machine' , value: true })
          }

          this.updateProgress();
          // the project will receive the url from the dtop_main, but only one
          // URL will be given, the user will not select but only fetch the data
          // this.get_sites();
        })
        .catch(error => {
          console.error(error);
          this.$store.dispatch('studies/updateStatus', { key: 'machine' , value: false });
          this.updateProgress();
        });
    },
    submit_input(payload) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/machine`;
      debugger
      axios
        .put(path, payload)
        .then(res => {
          console.log('MACHINE RESPONSE', res);
          var progress = 75
          if (res.data['nb_devices'] == null) progress-=25
          if (res.data['machine_url'] == null) progress-=25
          this.$message({
              message: 'Inputs saved',
              type: 'success'});
        })
        .catch(error => {
          console.error(error);
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          debugger
          this.submit_input(this.$refs[formName]._props["model"]);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>

<style>
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 480px;
  }
</style>
