<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <Plotly :data="data_plot" :layout="layout"></Plotly>
  </div>
</template>


<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'

export default {
  props: [
    'scatter_data',
    'user_layout',
    'lease_area',
    'dir',
    'number_rotor'
  ],
  components: {
    Plotly
  },
  data() {
    return {
      layout_str: {
        margin: {
          l: 200,
          r: 50,
          b: 100,
          t: 100,
          pad: 4
        },
        xaxis: {
          title: 'Easting (m)',
          range: null,
          type: 'linear'
        },
        yaxis: {
          title: 'Northing (m)',
          range: null,
          type: 'linear'
        },
        title: 'Results',
        annotations: []
      }
    }
  },
  computed: {
    layout() {
      let l = this.layout_str;
      l.title = this.scatter_data['title']
      if (this.dir!=null){
        debugger
        if ( this.dir.length === undefined ) {this.dir = [this.dir]}
        for (let i=0; i<this.dir.length; i++){
          var d = this.clone(this.dir[i])
          // use the line below if a quiver plot must be used
          // d.x = i
          // d.y = i*1.5-i
          l.annotations[i] = d
        }
      }
      l.xaxis.range = [Math.min(...this.lease_area['x']), Math.max(...this.lease_area['x'])]
      l.yaxis.range = [Math.min(...this.lease_area['y']), Math.max(...this.lease_area['y'])]

      return l
    },
    data_plot() {
      let d = []
      var x = []
      var y = []
      var color = []
      var width = []
      for (var j=0; j<this.user_layout.length; j++){
        x.push(this.user_layout[j][0])
        y.push(this.user_layout[j][1])
        color.push('black')
        width.push(2)
      }
      d.push({
        type: 'scatter',
        mode: 'markers',
        name: 'Provided Layout',
        marker: {
          size: 12,
          color: 'rgba(10, 10, 10, 0.2)',
          line: {
            color: color,
            width: width
          }},
        x: x,
        y: y,
      })
      d.push({
          type: 'scatter',
          marker: {size: 0.1, color: '#AA0000'},
          x: this.lease_area['x'],
          y: this.lease_area['y'],
          name: 'Lease Area'
        })
      debugger
      let base_string = 'Device'
      if (this.number_rotor != null) {
        if (this.number_rotor > 1) {
          base_string = 'R'
          const n_dev = ~~(this.scatter_data.id.length / this.number_rotor)
          var dev = null
          var rot = null
          for (var i=0; i<this.scatter_data.id.length; i++){
            rot = ~~(i / n_dev) + 1
            dev = i - ((rot-1)*n_dev) + 1

            d.push({
              type: 'scatter',
              mode: 'markers',
              marker: {size: 10, color: '#0000AA'},
              x: [this.scatter_data['x'][i]],
              y: [this.scatter_data['y'][i]],
              name: 'Device'+dev.toString()+"("+base_string+rot.toString()+")"
            })
          }
          return d
        }
      }
      for (var i=0; i<this.scatter_data.id.length; i++){
        d.push({
          type: 'scatter',
          mode: 'markers',
          marker: {size: 10, color: '#0000AA'},
          x: [this.scatter_data['x'][i]],
          y: [this.scatter_data['y'][i]],
          name: base_string+this.scatter_data.id[i].toString()
        })
      }

      return d
    },
  },
  methods: {
    clone(obj) {
      if (null == obj || "object" != typeof obj) return obj;
      var copy = obj.constructor();
      for (var attr in obj) {
          if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
      }
      return copy;
    }
  }
}
</script>
