<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div style="padding:30px;">
    <div style="height: 150px; background-color: rgb(2, 44, 95); position: relative;  color: #e2ebf0;">
      <h1 style="padding: 10px;">Energy Capture Outputs</h1>
      <h4 style="padding: 10px;"><el-button type="text" class="el-icon-s-order" @click="openLogs">   Logs</el-button></h4>
      <div style="position: absolute;top:10px;right:10px; height: 150px">
        <el-progress type="circle" :percentage="job_percentage" :status="job_status"></el-progress>
      </div>

    </div>

    <!-- <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px; height: 150px; background-color: rgb(2, 44, 95); color: #e2ebf0;">
      <h1>Output Page</h1>
      <h4 style="padding: 10px;"><el-button type="text" class="el-icon-s-order" @click="openLogs">   Logs</el-button></h4>
      <el-progress type="circle" :percentage="job_percentage" :status="job_status"></el-progress>

    </div> -->
    <!-- LOGs matter -->
    <!-- title="EC Logs" -->
    <el-drawer
      :visible.sync="logs_visible"
      direction="btt"
      size="50%"
      :before-close="handleCloseLogs"
    >
      <h1 slot="title">Energy Capture logs</h1>
      <div>
      <template>
        <el-table
          :data="LogTable"
          height="1000"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          border
        >
          <el-table-column
            prop="date"
            label="Date"
            width="200"
          />
           <!-- <el-table-column
            prop="status"
            label="Status"
          /> -->
           <el-table-column
            prop="module"
            label="Sender"
            width="300"
          />
           <el-table-column
            prop="msg"
            label="Message"
          />
        </el-table>
      </template>
    </div>
      <!-- <div>
        <template>
          <el-table
            :data="LogTable"
            height="1000"
            style="width: 100%"
          >
            <el-table-column
              prop="msg"
              label="Message"
            />
          </el-table>
        </template>
      </div> -->
    </el-drawer>

    <scatter :scatter_data="layout" :user_layout="userLayout" :lease_area="leaseArea" :dir="dir" :number_rotor="n_rotor"></scatter>
    <div v-loading="loading" v-if="loading"
      element-loading-text="Calculating the results..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
      style="width: 100%; height: 200px">
      <span ></span>
    </div>
    <div v-else>
      <div v-if="errored">
        <el-alert
          style="margin-bottom: 10px"
          title="Error while fetching the ouput"
          type="error"
          :closable="false"
          :description="error_msg_worker"
          show-icon>
        </el-alert>
        <el-alert
          title="Info Message"
          type="info"
          :closable="false"
          :description="error_msg_std"
          show-icon>
        </el-alert>
      </div>
      <div v-else>
        <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px; height: 150px; background-color: rgb(2, 44, 95); color: #e2ebf0;">
          <h1>AEP Farm: {{ (results_farm.aep/1000000).toFixed(4) }} GWh</h1>
        </div>
        <bar-chart :bar_chart_data="aep"></bar-chart>
        <bar-chart :bar_chart_data="qfactor"></bar-chart>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import mixin from "@/mixin.js"
import _ from 'lodash'
import BarChart from '@/components/BarChart/index.vue'
import Scatter from '@/components/Scatter/index.vue'
import { mean, matrix, apply, multiply, sum, zeros, sin, cos } from 'mathjs'


export default {
  mixins: [mixin],
  components: { BarChart, Scatter },
  computed: {
    studyId() {
      return this.$store.getters.studyId
    },
    complexity() {
      return this.$store.getters.complexity
    },
    machine() {
      return this.$store.getters.machine_type
    },
  },
  data() {
    return {
      job_percentage: 0,
      job_status: "",
      aep: {x: [], y: [], title: 'AEP, [kWh]'},
      qfactor: {x: [], y: [], title: 'q-factor, [-]'},
      layout: {x: [], y: [], id: [], title: 'Array Layout'},
      userLayout: [],
      leaseArea: {x: [-10,200,200,-10,-10], y: [-10,-10,200,200,-10]},
      dir: {
        x: 0,
        y: 0,
        xref: 'x',
        yref: 'y',
        text: '',
        showarrow: true,
        arrowhead: 1,
        ax: -10,
        ay: -10,
        arrowcolor: 'rgba(10,10,10,0.4)'
      },
      results_farm: {},
      results_devices: [],
      results_rotors: [],
      studyId: this.$store.getters.studyId,
      loading: true,
      errored: false,
      error_msg_worker: '',
      error_msg_std: 'Please check the error message, modify the inputs ans resubmit the calculation.',
      interval: null,
      logs_visible: false,
      interval_log: null,
      LogTable: [],
      LogFile: null,
      n_rotor: 0
    }
  },
  created() {
      this.fetchLeaseArea()
      this.fetchUserLayout()
      this.fetchOA()
      this.listenTask()
      this.fetchCalculation()

      this.interval = setInterval(function () {
        this.listenTask()
      }.bind(this), 500)
    },
  beforeDestroy: function(){
    clearInterval(this.interval)
  },
  methods: {
    tableRowClassName({row, rowIndex}) {
      if ( row.status != undefined ) {
        if (row.status.includes('ERR')) {
          return 'error-row'
        } else if (row.status.includes('WARN')) {
          return 'warning-row'
        }
      }

      return ''
    },
    unravel(I, X, Y, Z, x, y, z) {
      var arr = zeros(x.length, y.length, z.length)._data
      var l = 0
      var m = 0
      var n = 0
      for (let i=0; i<I.length; i++) {
        l = x.indexOf(X[i])
        m = y.indexOf(Y[i])
        n = z.indexOf(Z[i])
        arr[l][m][n] = I[i]
      }
      return arr
    },
    estimateDirection(site) {
      var easting_mag = 0
      var northing_mag = -1
      if (this.machine.toLowerCase() === 'tec') {
        if (this.complexity === 3) {
          let U = matrix(site.U)
          let V = matrix(site.V)
          let p = matrix(site.probability)
          let u_mean = apply(apply(U,2,mean),1,mean)
          let v_mean = apply(apply(V,2,mean),1,mean)
          easting_mag = multiply(u_mean, p)
          northing_mag = multiply(v_mean, p)
          // var index_max = site.probability.indexOf(Math.max(...site.probability))
          // var u = mean(site.U[index_max])*10
          // var v = mean(site.V[index_max])*10
        } else if (this.complexity == 2) {
          easting_mag = site.velocity_field[0]
          northing_mag = site.velocity_field[1]
        }
      } else if (this.machine.toLowerCase() === 'wec') {
        if (this.complexity === 1) {
          easting_mag = 1
          northing_mag = 0
        } else {
          let tp = [...new Set(site.sea_state_wave_period)]
          let hs = [...new Set(site.sea_state_wave_height)]
          let beta = [...new Set(site.sea_state_directions)]
          let sd_mat = this.unravel(site.scatter_diagram,
                                    site.sea_state_wave_period,
                                    site.sea_state_wave_height,
                                    site.sea_state_directions,
                                    tp, hs, beta)
          var SD = matrix(sd_mat)
          var p = apply(apply(SD,0,sum),0,sum)

          var imax = p._data.indexOf(Math.max(...p._data))

          var rad = beta[imax]/180.0*3.1415926536
          easting_mag = 1*sin(rad)
          northing_mag = -1*cos(rad)
          // 0 from north to south (0,-1)
          // 90 from east to west (-1,0)
          // 180 from south to north (0,1)
          // 270 from west to eash
        }
      }

      this.directionAnnotation(easting_mag, northing_mag)
    },
    directionAnnotation(v_e, v_n) {
      var dx = (Math.max(...this.leaseArea.x) - Math.min(...this.leaseArea.x)) / 9
      var dy = (Math.max(...this.leaseArea.y) - Math.min(...this.leaseArea.y)) / 9
      var x = Array.from({length: 10}, (_, i) => Math.min(...this.leaseArea.x) + dx * i)
      var y = Array.from({length: 10}, (_, i) => Math.min(...this.leaseArea.y) + dy * i)
      var vecField = []
      var v_norm = (v_e**2 + v_n**2)**0.5
      this.dir.ax = v_e/v_norm*10
      this.dir.ay = v_n/v_norm*10
      var d = null
      for (let ii=0; ii<x.length; ii++) {
        for (let jj=0; jj<y.length; jj++) {
          d = {...this.dir}
          d.x = x[ii]
          d.y = y[jj]
          vecField.push(d)
        }
      }
      this.dir = vecField
    },
    handleCloseLogs(done) {
      debugger
      clearInterval(this.interval_log)
      done()
    },
    openLogs() {
      this.logs_visible = true
      this.fetchLogs()
      this.interval_log = setInterval(function() {
        this.fetchLogs()
      }.bind(this), 5000)
    },
    fetchLogs() {
      const path = `${process.env.VUE_APP_API_URL}/ec/logs`
      axios
        .get(path)
        .then((res) => {
          this.LogTable = []
          this.LogFile = res.data
          var today = new Date()
          var date = today.getFullYear() + '-'
          this.LogFile = this.LogFile.replaceAll(date, '\n' + date)
          this.LogFile = this.LogFile.split('\n')
          var line = ""
          for (let i = this.LogFile.length - 1; i >= 0; i--) {
            line = this.LogFile[i]
            line = line.replaceAll('[', "!!").replaceAll(']', "!!")
            line = line.split("!!")

            this.LogTable.push({
              date: line[1],
              status: line[2],
              module: line[3],
              msg: line[4] })
          }
        })
        .catch((error) => {
          console.log(error.message)
        })
    },
    fetchOA(){
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/machine`
      axios
        .get(path)
        .then(res => {
          this.n_rotor = res.data.number_rotor
        })
        .catch(error => {
          console.error(error)
        });
    },
    fetchUserLayout() {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/farm`
      axios
        .get(path)
        .then(res => {
          if (res.data.layout_type === 'optimization') {
            this.userLayout = []
            return 0
          }
          this.userLayout = res.data.array_layout
        })
    },
    fetchLeaseArea(){
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/site`
      axios
        .get(path)
        .then(res => {
          this.leaseArea.x = res.data.loc_position.map(function(o) {return o[0]})
          this.leaseArea.y = res.data.loc_position.map(function(o) {return o[1]})
          this.estimateDirection(res.data)
          this.dir.x = mean(this.leaseArea.x)
          this.dir.y = mean(this.leaseArea.y)
          // the following two lines are used to close the lease area perimeter in the plot
          this.leaseArea.x.push(this.leaseArea.x[0])
          this.leaseArea.y.push(this.leaseArea.y[0])
          this.siteURL = res.data.url
          this.siteData = res.data
          this.show_summary = true
          this.$store.dispatch('studies/updateStatus', { key: 'site' , value: true })
          this.updateProgress()
          // the project will receive the url from the dtop_main, but only one
          // URL will be given, the user will not select but only fetch the data
          // this.get_sites();
        })
        .catch(error => {
          console.error(error);
          this.$store.dispatch('studies/updateStatus', { key: 'site' , value: false })
          this.updateProgress()
        })
    },
    fetchFarm(){
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/farm`
      return axios.get(path)
    },
    fetchDevices(){
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/devices`
      return axios.get(path)
    },
    fetchRotors(){
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/rotors`
      return axios.get(path)
    },
    listenTask() {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/task`
      axios
        .get(path)
        .then(res => {
          const response = res.data
          this.job_percentage = parseFloat(response.job_tta).toFixed(2)
          if (this.job_percentage === 100) {
            this.job_status = 'success'
            this.loading_message = "... almost there. Fetching the results from the Worker and saving the data to the DataBase"
          }
          if (response.task_status === 'finished') {
            this.loading_message = "... almost there. Fetching the results from the Worker and saving the data to the DataBase"
            if (response.worker_status === 'failed') {
              this.errored = true
              this.error_msg_worker = response.worker_message
              this.loading = false
              clearInterval(this.interval)
              return 0
            }
            clearInterval(this.interval)
            this.interval = setInterval(function () {
              this.loading_message = "... almost there. Fetching the results from the Worker and saving the data into the DataBase"
              this.fetchCalculation()
            }.bind(this), 1000)
          }
        })
        .catch(error => {
          console.error(error);
        })
    },
    fetchCalculation() {
      axios.all([
        this.fetchFarm(),
        this.fetchDevices(),
        this.fetchRotors()
      ])
      .then(axios.spread((resFarm, resDevices, resRotors) => {
        if (_.isEmpty(resFarm.data)) {
          throw "Results now available yet"
        }
        this.$store.dispatch('studies/updateStatus', { key: 'results' , value: true })
        this.updateProgress();
        this.$message.success('EC results fetched')
        this.results_farm = resFarm.data
        this.results_devices = resDevices.data
        this.results_rotors = resRotors.data
        clearInterval(this.interval)
        this.loading = false
        this.job_percentage = 100
        this.job_status = 'success'
        this.formatOutput()
      }))
      .catch(error => {
        this.$store.dispatch('studies/updateStatus', { key: 'results' , value: false })
        this.updateProgress()
        this.$message.error(error)
      })
    },
    formatOutput() {
      let x = this.results_devices.map(({id}) => 'Device'+id.toString())
      x.push('Array')
      this.aep.y = this.results_devices.map(({aep}) => aep)  // results are provided in kWh not in Wh

      this.qfactor.y = this.results_devices.map(({q_factor}) => q_factor)
      this.qfactor.y.push(this.results_farm.q_factor)

      this.qfactor.x = x
      this.aep.x = x

      this.layout.x = this.results_rotors.map(o => o.easting)
      this.layout.y = this.results_rotors.map(o => o.northing)
      this.layout.id = this.results_rotors.map(o => o.id)

    }
  }
}
</script>


<style>
  .el-table .warning-row {
    background: oldlace;
  }

  .el-table .error-row {
    background: #f9eeeb;
  }
</style>
