<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <Plotly :data="data_plot" :layout="layout"></Plotly>
  </div>
</template>


<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'

export default {
  props: [
    'bar_chart_data'
  ],
  components: {
    Plotly
  },
  data() {
    return {
      layout_str: {
        margin: {
          l: 200,
          r: 50,
          b: 100,
          t: 100,
          pad: 4
        },
        height: 600,
        xaxis: {
          tickformat: ".1f",
          title: ''
        },
        title: 'Results'
      }
    }
  },
  computed: {
    layout() {
      let l = this.layout_str;
      // l.xaxis.tickvals = [...Array(this.bar_chart_data['y'].length).keys()];
      // l.xaxis.ticktext = this.bar_chart_data['y'];
      l.title = this.bar_chart_data['title']
      if (this.bar_chart_data['title'] === 'AEP, [GWh]') {
        l.xaxis.title =  'aep, (GWh)'
      }

      return l
    },
    data_plot() {
      let d = [{
        type: 'bar',
        x: this.bar_chart_data['y'],
        y: this.bar_chart_data['x'],
        orientation: 'h'
      }]
      return d
    },
  }
}
</script>
