<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-container>
    <el-main style="margin-bottom: 80px">
        <div v-if="studyId == null">
          Please select a project from the studies list, in the side menu.
        </div>
        <div v-else>
          <el-progress style="margin-bottom: 20px" :text-inside="true" :stroke-width="20" :percentage="status"></el-progress>
          <div style="margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between; background-color: #F5F7FA; padding: 10px 30px;">
            <el-button type="text" :icon="iconSite" @click="pushSite" circle>Site</el-button>
            <i class="el-icon-d-arrow-right"></i>
            <el-button type="text" :icon="iconMachine" @click="pushMachine">Machine</el-button>
            <i class="el-icon-d-arrow-right"></i>
            <el-button type="text" :icon="iconLayout" :disabled="disable_layout"  @click="pushLayout">Layout</el-button>
            <i class="el-icon-d-arrow-right"></i>
            <el-button type="text" :disabled="disable" @click="postCalculation">Calculate</el-button>
            <i class="el-icon-d-arrow-right"></i>
            <el-button type="text" :icon="iconOutput" :disabled="disable" @click="pushOutput">Output</el-button>
          </div>
          <el-card :body-style="{ background: 'rgb(233,233,235)' }" shadow="never">
            <div><router-view /></div>
          </el-card>
        </div>
      </div>
    </el-main>
    <footer class="dtop-footer">
      <div style="display: flex; width: 100vw; align-items: center; align-content: center; justify-content: space-between;">
        <div style="display: flex; align-items: flex-start; flex-direction:column;">
          <span style="font-size: 250%; color: teal; text-transform: capitalize">{{ studyTitle }}</span>
          <span>ID# {{ studyId }}</span>
        </div>
        <div style="display: flex; align-items: flex-end; flex-direction:column;">
          <span style="font-size: 250%; color: teal; text-transform: capitalize" v-if="machine_type.toLowerCase()=='wec'">Wave Converter</span>
          <span style="font-size: 250%; color: teal; text-transform: capitalize" v-else>Tidal Converter</span>
          <span style="float: right">Stage/Complexity {{ complexity }}</span>
        </div>
      </div>
    </footer>
  </el-container>


</template>

<script>
import axios from 'axios'
import { DTOP_DOMAIN, DTOP_PROTOCOL, DTOP_AUTH } from "@/dtop/dtopConsts"


export default {
  computed: {
    studyId() {
      return this.$store.getters.studyId
    },
    result_available() {
      return this.$store.getters.completion_state.results
    },
    status() {
      return this.$store.getters.status
    },
    studyTitle() {
      return this.$store.getters.studyTitle
    },
    machine_type() {
      return this.$store.getters.machine_type
    },
    complexity() {
      return this.$store.getters.complexity
    },
    projectStr() {
      return this.$store.getters.project_structure
    },
    disable() {
      if (this.status >= 54) {
        return false
      }
      return true
    },
    disable_layout() {
      if (this.$store.getters.completion_state.site && this.$store.getters.completion_state.machine) {
        return false
      }
      return true
    }
  },
  data() {
    return {
      direction: 'rtl',
      project: null,
      loading: true,
      taskID: null,
      results: null,
      active: "1",
      iconSite: null,
      iconMachine: null,
      iconLayout: null,
      openDrawer: false,
      iconOutput: false
    }
  },
  created() {
    var entityID = this.$route.query.entityID
    if ( this.studyId !== parseInt(this.studyId, 10) ) {
      if ( entityID === undefined ) {
        // if the studyID is not defined and the entityID is not defined raise an error
        this.$message.error()
        this.$notify.error({
          title: 'Error',
          message: 'Invalid Project ID, please go the Main Module page and re-open the correct entity for the Machine Characterization Module',
          duration: 0
        })
        return -1
      }
      // if the studyID is not set and the entityID is available we save the value to Vuex
      this.$store.dispatch('studies/setId', { studyId: parseInt(entityID, 10) })
    } else {
      if ( entityID !== undefined ) {
        // if the studyID is set but it is different from the query parameter
        // the value is reset to the incoming parameter in Vuex
        this.$store.dispatch('studies/setId', { studyId: parseInt(entityID, 10) })
      }
      // if the studId is set and entityId is not, there is nothing to do
    }
    // if (this.studyId !== parseInt(this.studyId, 10)) {
    //     this.$message.error('Invalid Project ID, redirecting to the project List');
    //     this.$router.push({ name: "ECStudiesIndex" });
    // }
    this.get_integration_data(this.$store.getters.studyId)
  },
  methods: {
    get_integration_data(ec_ID) {
      // "http://0.0.0.0/dtop/integration/modules/ec/entities/1/projects"
      const path = `${DTOP_PROTOCOL}mm.${DTOP_DOMAIN}/api/integration/modules/ec/entities/${ec_ID}`

      console.log('DTOP_DOMAIN', path)
      axios.get(
          path,
          DTOP_AUTH
        )
        .then((res) => {
          console.log('INTEGRATIO ANSWER: ', res.data)
          this.project = res.data
          this.$store.dispatch('studies/setProjectStructure', { project_structure: res.data })
          this.loading = false
          this.iconMachine = ( this.$router.currentRoute.path.includes('machine') ? "el-icon-edit" : null )
          this.iconSite = ( this.$router.currentRoute.path.includes('site') ? "el-icon-edit" : null )
          this.iconLayout = ( this.$router.currentRoute.path.includes('farm') ? "el-icon-edit" : null )
          // this.$notify.info({
          //   title: 'Info',
          //   message: 'Connection establish with the Main Module. project structure saved'
          // })
        })
        .catch((error) => {
          console.log('INTEGRATIO ANSWER: ', error)
          this.project = []
          this.loading = false
          this.$notify.error({
            title: 'Error',
            message: 'Cannot establish a connection with the Main Module. Some functionalities might not work. Please check that the Main Modeul is up and running',
            duration: 0
          })
        })
    },
    pushOutput() {
      this.iconMachine = null
      this.iconSite = null
      this.iconLayout = null
      this.iconOutput = "el-icon-edit"
      this.$router.push({ name: "Outputs" })
    },
    pushMachine() {
      this.iconMachine = "el-icon-edit"
      this.iconSite = null
      this.iconLayout = null
      this.iconOutput = null
      this.$router.push({ name: "MachineInput" })
    },
    pushSite() {
      this.iconMachine = null
      this.iconSite = "el-icon-edit"
      this.iconLayout = null
      this.iconOutput = null
      this.$router.push({ name: "SiteInput" })
    },
    pushLayout() {
      this.iconMachine = null
      this.iconSite = null
      this.iconLayout = "el-icon-edit"
      this.iconOutput = null
      this.$router.push({ name: "FarmInput" })
    },
    pushTask() {
      const path = `${process.env.VUE_APP_API_URL}/ec/tasks`
      axios.post(path, {id: this.studyId})
        .then((res) => {
          this.$message({type: 'info',
                        message: 'Calculation Submitted.'});
          this.taskID = res.data.data.task_id
          this.pushOutput()
        })
        .catch((error) => {
          this.$notify({type: 'error',
                            title: 'Calculation Aborted: Incorrect Inputs',
                            message: error.response.data.message})
        })
    },
    postCalculation() {
      if (!this.result_available) {
        this.pushTask()
      } else {
        this.$confirm('The action will delete the previous results', 'Confirm', {
          confirmButtonText: 'Submit',
          cancelButtonText: 'Discard'
        })
        .then(() => {
          const URLs = [//`${process.env.VUE_APP_API_URL}/ec/tasks/${this.studyId}`,
                        `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/devices`,
                        `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/farm`];

          const requests = URLs.map(URL => axios.delete(URL).catch(err => null));

          axios.all(requests)
            .then(axios.spread((...r) => {
              if (r[0]!=null){this.$message({type: 'success',message: 'Project task calculation deleted'})}
              if (r[1]!=null){this.$message({type: 'success',message: 'Project devices output deleted'})}
              if (r[2]!=null){this.$message({type: 'success',message: 'Project farm output deleted'})}

              this.pushTask()
            }))
            .catch((error) => {
              this.$notify({type: 'error',
                            title: 'Calculation Aborted',
                            message: error.response.data.message})
            })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Action Discarded'
          });
        });
      }
    }
  }
}
</script>

<style scoped>
.dtop-footer {
  z-index:10000;
  height: 80px;
  padding: 20px;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: #e2ebf0;
  background-color: rgb(2, 44, 95);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
