<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-row class="tac">
      <el-col :span="6">
        <el-menu
          default-active="1-1"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose"
        >
          <el-submenu index="1">
            <template slot="title">
              <span data-cy="toggleMenu">Inputs</span>
            </template>
            <el-menu-item index="1-1">
              <router-link :to="{name: 'farm', params: {ecId: $route.params.ecId}}" data-cy="linkFarm">Farm</router-link>
            </el-menu-item>
            <el-menu-item index="1-2">
              <router-link :to="{name: 'site', params: {ecId: $route.params.ecId}}" data-cy="linkSite">Site</router-link>
            </el-menu-item>
            <el-menu-item index="1-3">
              <router-link :to="{name: 'machine', params: {ecId: $route.params.ecId}}" data-cy="linkMachine">Machine</router-link>
            </el-menu-item>
          </el-submenu>
          <el-menu-item index="3" :disabled="status">
            <router-link :to="{name: 'outputs', params: {ecId: $route.params.ecId}}">Output</router-link>
          </el-menu-item>
        </el-menu>
      </el-col>
      <el-col :span="18">
        <el-row :gutter="10">
          <nav-bar></nav-bar>
        </el-row>
        <el-row :gutter="10">
          <router-view></router-view>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Navbar from "@/components/Navbar";

export default {
  components: {
    NavBar: Navbar
  },
  data() {
    return {
      status: true
    };
  },
  computed: {
    progress() {
      return this.$store.getters.progress
    },
  },
  watch: {
    progress() {
      if (this.progress <75){
        if (this.status === false) {
          this.$notify({
                message: 'Calculate button disabled',
                type: 'warning'});
          this.status = true
        }
      } else {
        if (this.status === true) {
          this.$notify({
                message: 'Calculate button enabled',
                type: 'success'});
          this.status = false
        }
      }
    }
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>
