<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-row :gutter="10">
      <el-col :span="22">
        <h1>Output Page</h1>
        <el-collapse v-model="activeNames" accordion>
          <el-collapse-item title="Farm" name="1">
              <el-card class="box-card">
                <div slot="header" class="clearfix">
                  <span>Summary</span>
                </div>
                <div v-for="(v, k) in farm" :key="k" class="text item">
                  <div v-if="v.constructor === Object">
                    {{k + ': '}}
                    <el-button type="text" @click="plot('farm', k)">Show</el-button>
                  </div>
                  <div v-else>
                    {{k + ': ' + v }}
                  </div>
                </div>
              </el-card>
          </el-collapse-item>
          <el-collapse-item title="Devices" name="2">
            <el-table
              :data="devices"
              style="width: 100%">
              <el-table-column
                prop="aep"
                label="AEP (kWh)"
                width="180">
              </el-table-column>
              <el-table-column
                prop="captured_power"
                label="Captured Power (kW)"
                width="180">
              </el-table-column>
              <el-table-column
                prop="q_factor"
                label="q-Fator (kW/kW)"
                width="180">
              </el-table-column>
            </el-table>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :span="22">
        <el-select v-model="value" placeholder="Select" @change="onChange($event)">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <Plotly :data="data" :layout="layout" :display-mode-bar="false"></Plotly>
      </el-col>
    </el-row>

  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import { Plotly } from 'vue-plotly'
import axios from "axios";

export default {
  components: {
    NavBar: Navbar,
    Plotly
  },
  created() {
    this.get_project_results();
  },
  data() {
    return {
      activeNames: ['1'],
      data:[{
        x: [],
        y: [],
      }],
      layout:{
      },
      farm: null,
      devices: null,
      options: [{
        value: 'farm.layout',
        label: 'Farm Layout'
      }, {
        value: 'farm.captured_power_per_condition',
        label: 'Farm Power'
      }],
      value: null
    }
  },
  methods: {
    plot(data_name, key) {
      this[data_name][key]
      if (key=='layout') {
          this.data = [{x: this[data_name][key]['easting'],
                        y: this[data_name][key]['northing'],
                        mode: 'markers',
                        type:"scatter"}]
        }
        else if (key=='captured_power_per_condition') {
          this.data = [
                       {x: this[data_name][key]['siteConditionID'],
                        y: this[data_name][key]['capturedPower'],
                        type:"bar"}
                      ]
          this.layout = {
            xaxis: {
              title: {
                text: 'Site Condition ID',
                font: {
                  family: 'Courier New, monospace',
                  size: 18,
                  color: '#7f7f7f'
                }
              },
            },
            yaxis: {
              title: {
                text: 'Captured Power (kW)',
                font: {
                  family: 'Courier New, monospace',
                  size: 18,
                  color: '#7f7f7f'
                }
              }
            }
          }
        }

    },
    onChange(event) {
        console.log('EVENT', event)
        var res = event.split(".")
        console.log(res)
        console.log(this[res[0]])
        console.log(this[res[0]][res[1]])
        if (res[1]=='layout') {
          this.data = [{x: this[res[0]][res[1]]['easting'],
                        y: this[res[0]][res[1]]['northing'],
                        mode: 'markers',
                        type:"scatter"}]
        }
        else if (res[1]=='captured_power_per_condition') {
          this.data = [
                       {x: this[res[0]][res[1]]['siteConditionID'],
                        y: this[res[0]][res[1]]['capturedPower'],
                        type:"bar"}
                      ]
          this.layout = {
            xaxis: {
              title: {
                text: 'Site Condition ID',
                font: {
                  family: 'Courier New, monospace',
                  size: 18,
                  color: '#7f7f7f'
                }
              },
            },
            yaxis: {
              title: {
                text: 'Captured Power (kW)',
                font: {
                  family: 'Courier New, monospace',
                  size: 18,
                  color: '#7f7f7f'
                }
              }
            }
          }
        }
    },
    get_farm() {
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/farm`;

      axios
        .get(path)
        .then(res => {
          this.farm = res.data
        })
        .catch(error => {
          this.$message({
            message: error,
            type: 'error'});
        });
    },
    get_devices() {
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/devices`;

      axios
        .get(path)
        .then(res => {
          this.devices = res.data
        })
        .catch(error => {
          this.$message({
            message: error,
            type: 'error'});
        });
    },
    get_project_results() {
      this.get_farm()
      this.get_devices()
    },
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>




