<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="dashboard-container">
    <div class="dashboard-text">
      <h1>Welcome to DTOceanPlus</h1>
      <h4>Energy Capture tool v0.0.1</h4>

      <el-button type="primary" icon="el-icon-video-play" @click="projectList">Start</el-button>
      <!-- <span>To initiate a study navigate to Studies/List and click on "Add new project"</span> -->
      <h6>This is an initial user interface, please record all the errors or problem of usability and send the list to ff@civil.aau.dk</h6>

      <span>The Energy Capture module (EC) can be used to estimate the energy production of a farm of tidal and wave energy converters.
      At the core of the module there is a set of methods to estimate the hydrodynamic interaction between devices in the farm,
      which is in turn used for the energy assessemnt.
      </span>
    </div>
    <!-- <tree-plot></tree-plot> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
// import  from '@/components/TreePlot/index.vue';

export default {
  name: 'Dashboard',
  // components: { TreePlot },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  methods: {
    projectList() {
      this.$router.push({ name: "ECStudiesIndex" });
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
