<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <h1>Output Page</h1>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";

export default {
  components: {
    NavBar: Navbar
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>
