<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <br>
    <el-row>
      <el-button type="text" @click="dialogVisible = true" icon="el-icon-circle-plus-outline" data-cy="createProjectBtn">Add New Project</el-button>
      <el-button type="text" @click="uploadVisible" icon="el-icon-upload2" data-cy="uploadProjectBtn">Upload From File</el-button>
    </el-row>
    <div>
      <el-dialog title="Create a new EC project" :visible.sync="dialogVisible" width="30%">
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="Project Title" prop="title">
            <el-input v-model="ruleForm.title" placeholder="add a project unique title" data-cy="projectTitle"></el-input>
          </el-form-item>
          <el-form-item label="Tags" prop="tags">
            <el-input v-model="ruleForm.tags" placeholder="add a project tag" data-cy="projectTags"></el-input>
          </el-form-item>
          <el-form-item label="Project Complexity" prop="complexity">
            <el-select v-model="ruleForm.complexity" placeholder="Complexity Level" data-cy="projectComplexity">
              <el-option label="1" value="1"></el-option>
              <el-option label="2" value="2"></el-option>
              <el-option label="3" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Machine type" prop="type">
            <el-select v-model="ruleForm.type" placeholder="Machine Type" data-cy="projectMachineType">
              <el-option label="Tidal Converter" value="TEC"></el-option>
              <el-option label="Wave Converter" value="WEC"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Project Description" prop="desc">
            <el-input
              placeholder="short project description"
              type="textarea"
              v-model="ruleForm.desc"
              data-cy="projectDescription"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')" v-if="editingRole" data-cy="projectSave">Save</el-button>
            <el-button type="primary" @click="submitForm('ruleForm')" v-else data-cy="projectCreate">Create</el-button>
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>

    <el-table :data="ec_studies.filter(data => !search || data.tags.toLowerCase().includes(search.toLowerCase()))"
              style="width: 100%"
              max-height="500">
       <el-table-column type="expand">
        <template slot-scope="props">
          <p>Database ID: {{ props.row.id }}</p>
          <p>Description: {{ props.row.desc }}</p>
          <p>Tags: {{ props.row.tags }}</p>
        </template>
      </el-table-column>
      <!-- <el-table-column fixed prop="id" label="ID" width="50"></el-table-column> -->
      <el-table-column prop="title" label="Title" width="120"></el-table-column>
      <el-table-column prop="date" label="Date" width="120"></el-table-column>
      <el-table-column prop="type" label="Type" width="120"></el-table-column>
      <el-table-column prop="complexity" label="Complexity" width="300"></el-table-column>
      <el-table-column prop="status" label="Status" width="120"></el-table-column>
      <el-table-column fixed="right" label="Operations" width="180">
         <template slot="header" slot-scope="scope">
          <el-input
            v-model="search"
            size="mini"
            placeholder="Filter by Tags"/>
        </template>
        <template slot-scope="scope">
          <el-button
            @click.native.prevent="deleteRow(scope.$index, ec_studies)"
            type="text"
            size="small"
            data-cy="projectRemove"
          >Remove</el-button>
          <!-- <el-button
            @click.native.prevent="copyRow(scope.$index, ec_studies)"
            type="text"
            size="small"
            data-cy="projectCopy"
          >Copy</el-button> -->
          <el-button
            @click.native.prevent="editRow(scope.$index, ec_studies)"
            type="text"
            size="small"
            data-cy="projectEdit"
          >Edit</el-button>
          <el-button
            @click.native.prevent="openRow(scope.$index, ec_studies)"
            type="text"
            size="small"
            data-cy="projectOpen"
          >Open</el-button>
          <el-button
            @click.native.prevent="saveToFile(scope.$index, mc_studies)"
            type="text"
            size="small"
            data-cy="projectSave2File"
          >Export</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from "axios"
import _ from 'lodash'
import mixin from "../../mixin.js"

export default {
  mixins: [mixin],
  data() {
    return {
      search: '',
      name: "Dashboard",
      message: "",
      ruleForm: {
        title: "test",
        tags: "tec",
        complexity: 1,//null,
        type: "TEC",
        desc: "test"
      },
      rules: {
        title: [
          {
            required: true,
            message: "Please input a projct title",
            trigger: "blur"
          },
          {
            min: 3,
            max: 50,
            message: "The title should have between 3 and 50 characters",
            trigger: "blur"
          }
        ],
        tags: [
          {
            required: true,
            message: "Please input a tag for the project",
            trigger: "blur"
          },
          {
            min: 3,
            max: 8,
            message: "The TAG should have between 3 and 5 characters",
            trigger: "blur"
          }
        ],
        complexity: [
          {
            required: true,
            message: "Please select a Project Complexity",
            trigger: "change"
          }
        ],
        type: [
          {
            required: true,
            message: "Please select a Machine Type",
            trigger: "change"
          }
        ],
        desc: [
          {
            required: true,
            message: "Please input a project description",
            trigger: "blur"
          }
        ]
      },
      dialogVisible: false,
      editingRole: false,
      ec_studies: []
    };
  },
  created() {
    this.getProjects();
  },
  methods: {
    uploadVisible() {
      this.$message.info('This funcionality is in the testing phase. It will be available from the next release.')
    },
    saveToFile(index, rows) {
      this.$message.info('This funcionality is in the testing phase. It will be available from the next release.')
    },
    postProject(payload) {
      const path = `${process.env.VUE_APP_API_URL}/ec`;
      var dateobj = new Date();
      payload.date = dateobj.toString().substring(3, 24);
      payload.status = 0;
      // console.log('PAYLOAD', payload, path)
      axios
        .post(path, payload)
        .then(res => {
          // fetch the updated list of project is successfull
          // this.getProjects();
          this.message = res.data;
          this.showMessage = true;
        })
        .catch(error => {
          console.error(error);
          // this.getProjects();
        })
        .finally(() => {this.getProjects()})
    },
    putProject(payload) {

      const path = `${process.env.VUE_APP_API_URL}/ec/${payload.id}`;
      var dateobj = new Date();
      payload.date = dateobj.toString().substring(3, 24);
      delete payload.id
      delete payload.inputs
      delete payload.farm
      delete payload.devices
      // reset all the inputs and results if any
      axios
        .put(path, payload)
        .then(res => {
          // fetch the updated list of project is successfull
          // this.formSetDefault();
          // this.getProjects();
          this.message = res.data;
          this.showMessage = true;
        })
        .catch(error => {
          console.error(error);
          // this.getProjects();
        })
        .finally(() => {
          this.formSetDefault();
          this.getProjects()
        })
    },
    putConfirmation(payload) {
      this.$confirm('Do you also want to delete the project input and results', 'Confirm', {
          distinguishCancelAndClose: true,
          confirmButtonText: 'Save',
          cancelButtonText: 'Save and Delete'
        })
        .then(() => {
          this.$message({
            type: 'info',
            message: 'Changes saved.'
          });
          this.putProject(payload)
        })
        .catch(action => {
          this.$message({
            type: 'info',
            message: action === 'cancel'
              ? 'Changes saved and inputs and result deleted.'
              : 'Changes Discarded'
          })
          if (action === 'cancel') {
            axios.all([
              this.deleteFarm(payload.id),
              this.deleteDevices(payload.id),
              this.deleteInputs(payload.id)
            ])
            .then(axios.spread((d_farm, d_devices, d_input) => {
              this.$message.success('Project inputs and results deleted from DB')
              payload.status = 0;
              this.putProject(payload)
            }))
            .catch(error => {
              this.$message.error(error);
            });
          }
        });
    },
    deleteInputs(ecId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${ecId}/inputs`;
      return axios.delete(path)
    },
    deleteDevices(ecId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${ecId}/devices`;
      return axios.delete(path)
    },
    deleteFarm(ecId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${ecId}/farm`;
      return axios.delete(path)
    },
    getProjects() {
      const path = `${process.env.VUE_APP_API_URL}/ec`;
      axios
        .get(path)
        .then(res => {
          this.ec_studies = res.data;
        })
        .catch(error => {
          // eslint-disable-next-line
          this.ec_studies = []
          console.error(error);
        });
    },
    removeProject(ecId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${ecId}`;
      axios
        .delete(path)
        .then(res => {
          // this.getProjects();
          // this.message = res.data.result.message;
          this.showMessage = true;
        })
        .catch(error => {
          console.error(error);
          // this.getProjects();
        })
        .finally(() => {
          this.getProjects()
        });
    },
    deleteRow(index, rows) {
      this.removeProject(rows[index].id);
    },
    editRow(index, rows) {
      this.editingRole = true
      this.ruleForm = rows[index]
      this.dialogVisible = true
      this.$store.dispatch('studies/setComplexity', { complexity: rows[index].complexity })
      this.$store.dispatch('studies/setMachine', { machine: rows[index].type })
    },
    copyRow(index, rows) {
      var payload = rows[index]
      var dateobj = new Date();
      var B = dateobj.toString().substring(16, 24);
      payload.title += '_copy_' + B
      delete payload['id']
      delete payload['farm']
      delete payload['devices']
      this.postProject(payload)
    },
    openRow(index, rows) {
      this.$store.dispatch('studies/setId', { studyId: rows[index].id })
      this.$store.dispatch('studies/setTitle', { studyTitle: rows[index].title })
      this.$store.dispatch('studies/setComplexity', { complexity: rows[index].complexity })
      this.$store.dispatch('studies/setMachine', { machine: rows[index].type })

      this.$store.dispatch('studies/updateStatus', { key: 'results' , value: rows[index].farm !== null })
      if (rows[index].farm !== null) {
        this.$store.dispatch('studies/updateStatus', { key: 'farm', value: true })
        this.$store.dispatch('studies/updateStatus', { key: 'site', value: true })
        this.$store.dispatch('studies/updateStatus', { key: 'machine', value: true })
        this.$store.dispatch('studies/updateStatus', { key: 'results' , value: true })
        this.$router.push({ name: "SiteInput" })
        return 0
      }

      if (rows[index].inputs == null){
        this.$store.dispatch('studies/updateStatus', { key: 'farm', value: false })
        this.$store.dispatch('studies/updateStatus', { key: 'site', value: false })
        this.$store.dispatch('studies/updateStatus', { key: 'machine', value: false })
        this.$router.push({ name: "SiteInput" })
        return 0
      }

      axios.all([
        this.get_farm_inputs(rows[index].id),
        this.get_site_inputs(rows[index].id),
        this.get_machine_inputs(rows[index].id)
      ])
      .then(axios.spread((f, s, m) => {
        this.$store.dispatch('studies/updateStatus', { key: 'farm', value: (f.data.layout_type == null) ? false : true })
        this.$store.dispatch('studies/updateStatus', { key: 'site', value: _.isEmpty(s.data) ? false : true })
        this.$store.dispatch('studies/updateStatus', { key: 'machine', value: _.isEmpty(m.data) ? false : true })
      }))
      .catch(error => {
        console.log(f,m,s)
      })

      this.$router.push({ name: "SiteInput" })
    },
    get_farm_inputs(studyId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${studyId}/inputs/farm`;
      return axios.get(path)
    },
    get_machine_inputs(studyId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${studyId}/inputs/machine`;
      return axios.get(path)
    },get_site_inputs(studyId) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${studyId}/inputs/site`;
      return axios.get(path)
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.dialogVisible = false;
          if (this.editingRole) {
            this.editingRole = false;
            this.putConfirmation(this.$refs[formName]._props["model"]);
          } else {
            this.postProject(this.$refs[formName]._props["model"]);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    formSetDefault() {
      this.ruleForm.title = "";
      this.ruleForm.tags = "";
      this.ruleForm.complexity = null;
      this.ruleForm.type = "";
      this.ruleForm.desc = "";

      this.resetForm("ruleForm");
    }
  }
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>

