<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-card>
    <div slot="header" style="display: flex; justify-content: space-between; align-items: center">
      <span>Wave Direction</span>
      <el-select v-model="ang" placeholder="Select Angle" @change="plotEJDP($event)">
        <el-option
          v-for="[k,v] of Object.entries(directions)"
          :key="k"
          :label="v"
          :value="k"
        />
      </el-select>
    </div>
    <div class="app-container">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <el-radio-group v-model="radio" @change="plotEJDP()">
          <el-radio :label="1">Joint Probability Tp/Hs</el-radio>
          <el-radio :disabled="true" :label="2">Wave Direction Rose</el-radio>
        </el-radio-group>
      </div>
      <Plotly :data="ejdp" :layout="layout_ejdp" />
    </div>
  </el-card>
</template>

<script>
import _ from 'lodash'
import { Plotly } from 'vue-plotly'
import { create, all } from 'mathjs'

const config = { }
const math = create(all, config)

export default {
  name: 'EJDP',
  components: {
    Plotly
  },
  props: [
    'results',
    'directions',
    'hs',
    'tp'
  ],
  data: function() {
    return {
      radio: 1,
      layout_ejdp: {
        margin: {
          autoexpand: true
        },
        xaxis: {
          title: {
            text: 'Tp (s)',
            font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          }
        },
        yaxis: {
          title: {
            text: 'Hs (m)',
            font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          }
        }
      },
      ang: null,
      ejdp: []
    }
  },
  methods: {
    plotEJDP(event) {

      // data: [{ x: [], y: [], z: [], dir: [], type: 'contour' }],
      if (this.ang == null) { return -1 }


      this.ejdp = []
      this.ejdp.push({ x: this.tp, y: this.hs,
                               z: _.zip(...this.results.ejdp.map(ob => ob.map(el => el[this.ang]))),
        type: 'contour', name: 'Real - beta: ' + this.ang + 'deg, DOF: ' + this.dof })

      if (this.radio == '2') {
        // this.ejdp = []
        // debugger
        // let pm =  math.matrix(_.zip(...this.results.ejdp.map(ob => ob.map(el => el[this.ang]))))
        // let tp = math.multiply(math.ones(this.hs.length, 1), math.matrix([this.tp]))
        // let hs = math.transpose(math.multiply(math.ones(this.tp.length, 1), math.matrix([this.hs])))
        // let hs2 = math.square(hs)
        // let J = math.multiply(500*this.characteristicLength, math.dotMultiply(hs2,tp))
        // console.log('power matrix', pm)
        // let cwr = math.dotMultiply(pm,J)
        // debugger

        // this.ejdp.push({ x: this.tp, y: this.hs,
        //                        z: cwr._data,
        // type: 'contour', name: 'Real - beta: ' + this.ang + 'deg, DOF: ' + this.dof })
      }
    }
  }
}
</script>
