<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <!-- <el-dialog
      title="Upload Site Characterization Data"
      :visible.sync="dialog"
      width="auto"
      >
      <span>
        <el-upload
          class="upload-demo"
          style="margin-left: 35%"
          drag
          :action="uploadURL"
          :file-list="fileList"
          :on-success="upload_success"
          :on-error="upload_error">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
          <div class="el-upload__tip" slot="tip">json files with a size less than 500kb</div>
          <div class="el-upload__tip" slot="tip"><a href="../files/test.png" download>Download File Template</a></div>
        </el-upload>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelUpload">Cancel</el-button>
        <el-button type="primary" @click="submitUpload">Confirm</el-button>
      </span>
    </el-dialog> -->
    <div style="visibility: hidden">{{ projectStructure }}</div>
    <el-row :gutter="10">
      <el-col :span="20" :offset="2">
        <el-card>
          <div slot="header">
            <span>Site Form</span>
            <!-- <el-button type="primary" @click="standalone=!standalone">TEST SC</el-button> -->
            <span v-if="standalone" style="float:right; padding: 3px 0"> stand alone mode</span>
            <span v-else style="float:right; padding: 3px 0"> integrated mode</span>
            </div>
          <div>
            <!-- <el-button v-if="standalone" :disabled="!standalone" @click="dialog=true"  type="text">Upload JSON</el-button> -->
            <div
              title="Upload Site Characterization Data"
              v-if="standalone"
              width="auto"
              >
              <span>
                <el-upload
                  class="upload-demo"
                  style="margin-left: 35%"
                  drag
                  :action="uploadURL"
                  :file-list="fileList"
                  :on-success="upload_success"
                  :on-error="upload_error">
                  <i class="el-icon-upload"></i>
                  <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                  <div class="el-upload__tip" slot="tip">json files with a size less than 500kb</div>
                  <div class="el-upload__tip" slot="tip"><a href="../files/test.png" download>Download File Template</a></div>
                </el-upload>
              </span>
              <!-- <span slot="footer" class="dialog-footer">
                <el-button @click="cancelUpload">Cancel</el-button>
                <el-button type="primary" @click="submitUpload">Confirm</el-button>
              </span> -->
            </div>
            <div v-else>
              <span>Integration Data:</span>
              <span>site characterization entity ID: {{ site_entity_id }}</span>
              <el-button type="primary" style="float:right; padding: 3px" @click="get_site_mountebank">Fetch Site</el-button>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="10" v-if="show_summary">
      <el-col :span="22">

        <hr>
        <hr>
        <h1>Site Condition Summary</h1>
        <hr>
        <SiteSummaryPlot :site_data="siteData" :cpx="complexity" :mac="type"></SiteSummaryPlot>
        <!-- <json-view :data="siteData" rootKey="Site Data" /> -->
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios"
import mixin from "@/mixin.js"
import _ from 'lodash'
import SiteSummaryPlot from '@/components/SiteSummaryPlot/index.vue'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

// import { mapActions } from 'vuex';

export default {
  mixins: [mixin],
  components: { SiteSummaryPlot },
  created() {
    this.get_project()
    // this.get_main_modules_project()
    // this.get_site_mountebank();
  },
  computed: {
    projectStructure() {
      try {
        let prj_str = this.$store.getters.project_structure
        let study = prj_str.filter((s) => {return s.moduleId==3})
        let entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==1})
        this.site_entity_id = entity[0].entityId
        this.standalone = false
      } catch (error) {
        this.$message.error(error)
        this.standalone = true
      }
      return this.$store.getters.project_structure
    },
    studyId() {
      return this.$store.getters.studyId
    }
  },
  data() {
    return {
      site_entity_status: 0,
      site_entity_id: null,
      projectID: null,
      mainStudyID: null,
      site_integration: null,
      main_integration: null,
      siteURL: "sc/1",
      siteData: null,
      uploadURL: "",
      standalone: true,
      show_summary: false,
      sites: [],
      complexity: null,
      type: null,
      dialog: true,
      fileList: ['test.jpg'],
      imageUrl: '',
      formLabelWidth: '80px',
      timer: null,
      ruleForm: {
        site_url: ""
      },
      rules: {
        number_devices: [
          {
            required: true,
            message: "Please input the target number of devices",
            trigger: "blur"
          },
          {
            message: "Length should be 3 to 5",
            trigger: "blur"
          }
        ],
        layout: [
          {
            required: true,
            message: "Please select Activity zone",
            trigger: "change"
          }
        ],
        dev_position: [
          {
            required: true,
            message: "Please define the device layout as [0,0],[100,100]",
            trigger: "change"
          }
        ],
        desc: [
          {
            required: false,
            message: "Please input activity form",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    // ...mapActions({
    //   update_project_progress: 'status/update_progress',
    // }),
    // get_main_modules_sc_id() {
    //   const path = `http://0.0.0.0//dtop/integration/projects/${this.projectID}/studies/${this.mainStudyID}/modules/sc/entities`;

    //   axios
    //     .get(path)
    //     .then(res => {
    //       console.log('MOUNTEBANK ENTITY', res);
    //       this.site_entity_id = res.data.entityId
    //       this.site_entity_status = res.data.entityStatus
    //     })
    //     .catch(error => {
    //       console.error('MOUNTBANK ENTITY', error);
    //     });
    // },
    // get_main_modules_study() {
    //   const path = `http://0.0.0.0//dtop/integration/projects/${this.projectID}/modules/ec/entities/${this.studyId}/studies`;

    //   axios
    //     .get(path)
    //     .then(res => {
    //       console.log('MOUNTEBANK STUDY', res);
    //       this.mainStudyID = res.data.id
    //       this.get_main_modules_sc_id()
    //     })
    //     .catch(error => {
    //       console.error('MOUNTBANK STUDY', error);
    //     });
    // },
    // get_main_modules_project() {
    //   const path = "http://0.0.0.0/dtop/integration/modules/ec/entities/1/projects";

    //   axios
    //     .get(path)
    //     .then(res => {
    //       console.log('MOUNTEBANK MAIN', res);
    //       this.projectID = res.data.id
    //       this.get_main_modules_study()
    //     })
    //     .catch(error => {
    //       console.error('MOUNTBANK MAIN', error);
    //     });
    // },
    get_site_mountebank() {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/site/fetch`
      console.log({"url": `${DTOP_PROTOCOL}sc.${DTOP_DOMAIN}`, "entityID": this.site_entity_id})
      axios
        .post(path, {"url": `${DTOP_PROTOCOL}sc.${DTOP_DOMAIN}`, "entityID": this.site_entity_id})
        .then(res => {
          console.log('INTEGRATION', res)
          debugger
          if (res.response != undefined) {
            this.$notify.warning({
              title: error.response.data.status,
              message: error.response.data.message
            });
          }
          this.get_site_data()
        })
        .catch(error => {
          console.error('MOUNTBANK', error);
          this.$notify.error({
            title: error.response.data.status,
            message: error.response.data.message
          });
        });
    },
    upload_success() {
      this.$message.success('Upload Success')
      this.$store.dispatch('studies/updateStatus', { key: 'site' , value: true })
      this.updateProgress()
      this.get_site_data()
    },
    upload_error(err, file, fileList) {
      console.log('ERR', err);
      this.$message.error(err.message);
      this.show_summary = false
    },
    uploadFile() {
      console.log('UPLOAD FILE')
    },
    submitUpload() {
      this.dialog = false
      this.show_summary = true
    },
    cancelUpload() {
      this.fileList = []
      this.dialog = false
      this.show_summary = false
    },
    get_project() {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}`;

      axios
        .get(path)
        .then(res => {
          this.complexity = res.data.complexity;
          this.type = res.data.type.toLowerCase();
          this.uploadURL = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/upload/inputs/site/${this.type}/complexity${this.complexity}`;
          this.get_site_data();
          // the project will receive the url from the dtop_main, but only one
          // URL will be given, the user will not select but only fetch the data
          // this.get_sites();
        })
        .catch(error => {
          console.error(error);
        });
    },
    get_site_data() {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/site`;

      axios
        .get(path)
        .then(res => {
          console.log('SITE', res)
          this.siteURL = res.data.url;
          this.siteData = res.data;
          this.show_summary = false
          if (_.isEmpty(res.data)) {
            this.$store.dispatch('studies/updateStatus', { key: 'site' , value: false });
          } else {
            this.show_summary = true
            this.$store.dispatch('studies/updateStatus', { key: 'site' , value: true });
          }
          this.updateProgress();
          // the project will receive the url from the dtop_main, but only one
          // URL will be given, the user will not select but only fetch the data
          // this.get_sites();
        })
        .catch(error => {
          console.error(error);
          this.$store.dispatch('studies/updateStatus', { key: 'site' , value: false });
          this.updateProgress();
        });
    },
    get_sites() {
      const path = `${process.env.VUE_APP_API_URL}/sc/resources?cpx=${this.complexity}&type=${this.type}`;

      axios
        .get(path)
        .then(res => {
          console.log(res.data);
          var urls = [];
          res.data.forEach(function(arrayItem) {
            urls.push(arrayItem.url);
            console.log(arrayItem);
          });
          this.sites = urls;
        })
        .catch(error => {
          console.error(error);
        });
    },
    submit_input(payload) {
      const path = `${process.env.VUE_APP_API_URL}/ec/${this.studyId}/inputs/site`;

      axios
        .put(path, payload)
        .then(res => {
          console.log('SITE RESPONSE', res);
          var progress = 75
          if (res.data['nb_devices'] == null) progress-=25
          if (res.data['machine_url'] == null) progress-=25
          // this.update_project_progress(progress);
          this.$message({
              message: 'Inputs saved',
              type: 'success'});
        })
        .catch(error => {
          console.error(error);
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submit_input(this.$refs[formName]._props["model"]);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>

<style>
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 480px;
  }
</style>
