<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>

    <span>Rated Power Machine (W): {{ machine_data.rated_pow_device }}</span>
    <hr>
    <span v-html="HTMLsummary"></span>
    <Plotly v-if="plot_data & !plot_cwr" :data="data_plot" :layout="layout"></Plotly>
    <EJDP v-if="plot_data & plot_cwr" :results="{ejdp: cwr_mat}" :directions="directions" :tp="tp" :hs="hs"/>
  </div>
</template>


<script>
import { Plotly } from 'vue-plotly'
import * as mlib from 'mathjs'
import EJDP from '@/components/EJDP/index.vue'

export default {
  props: [
    'machine_data', 'cpx', 'mac'
  ],
  components: {
    Plotly, EJDP
  },
  data() {
    return {
      plot_data: true,
      plot_cwr: false,
      HTMLsummary: null,
      cwr: false,
      cp: false,
      layout: {
        margin: {
          l: 200,
          r: 50,
          b: 100,
          t: 100,
          pad: 4
        },
        xaxis: {title: {text: 'Tp, (s)'}},
        yaxis: {title: {text: 'Hs, (m)'}},
        title: 'Machine Capture Width Ratio'
      },
      directions: [],
      tp: [],
      hs: [],
      cwr_mat: []
    }
  },
  computed: {
    data_plot(){
      return this.select_type()
    }
  },
  methods: {
    select_type(){
      debugger
      switch (`${this.mac}${this.cpx}`){
        case 'tec1':
          return this.tec1()
        case 'tec2':
          return this.tec2()
        case 'tec3':
          return this.tec3()
        case 'wec1':
          return this.wec1()
        case 'wec2':
          return this.wec2()
        case 'wec3':
          return this.wec3()
      }
    },
    tec1() {
      debugger
      this.plot_data = false
      this.HTMLsummary = `<span>Rotor Diameter (m): ${ this.machine_data.main_dim_device }</span><hr>`
      this.HTMLsummary += `<span>Power Coefficient (-): ${this.machine_data.cp}</span><hr>`
      return []
    },
    tec2() {
      this.plot_data = false
      this.HTMLsummary = `<span>Rotor Diameter (m): ${ this.machine_data.rotor_diameter }</span><hr>`
      this.HTMLsummary += `<span>Power Coefficient (-): ${this.machine_data.cp}</span><hr>`
      this.HTMLsummary += `<span>Trust Coefficient (-): ${this.machine_data.ct}</span><hr>`
      return []
    },
    tec3() {
      this.plot_data = true
      this.HTMLsummary = `<span>Rotor Diameter (m): ${ this.machine_data.rotor_diameter }</span><hr>`
      this.HTMLsummary += `<span>Hub Height (m): ${this.machine_data.hub_height}</span><hr>`
      this.HTMLsummary += `<span>Floating Platform (-): ${this.machine_data.floating}</span><hr>`
      this.HTMLsummary += `<span>Number of Rotor (-): ${this.machine_data.number_rotor}</span><hr>`
      this.HTMLsummary += `<span>Rotors Interdistance (m): ${this.machine_data.rotor_interdistance}</span><hr>`
      this.HTMLsummary += `<span>Heading Angle Span (deg): ${this.machine_data.heading_angle_span}</span><hr>`
      this.HTMLsummary += `<span>Bi-directional (-): ${this.machine_data.bidirectional}</span><hr>`
      this.layout.yaxis.title.text = 'Cp / Ct, (-)'
      this.layout.xaxis.title.text = 'FluidVelocity, (m/s)'
      this.layout.title = 'Power and Trust Coeff.'
      return [
              { x: this.machine_data['cp_ct_velocity'], y: this.machine_data['cp'], mode: 'lines', name: 'Cp'},
              { x: this.machine_data['cp_ct_velocity'], y: this.machine_data['ct'], mode: 'lines', name: 'Ct' },
              { x:[this.machine_data['cut_in_velocity'],this.machine_data['cut_in_velocity']], y: [0,1], mode: 'lines', name: 'Cut In', line: {color: 'black'}},
              { x:[this.machine_data['cut_out_velocity'],this.machine_data['cut_out_velocity']], y: [0,1], mode: 'lines', name: 'Cut Out', line: {color: 'black'}}]
    },
    wec1() {
      this.plot_data = false
      this.HTMLsummary = `<span>Characterisitc Length (m): ${ this.machine_data.main_dim_device }</span><hr>`
      this.HTMLsummary += `<span>Capture Width Ratio (-): ${this.machine_data.device_capture_width_ratio}</span><hr>`
      this.HTMLsummary += `<span>Machine Archetype (-): ${this.machine_data.machine_archetype}</span><hr>`
      return []
    },
    wec2() {
      this.plot_data = true
      this.plot_cwr = true
      this.machine_data['wave_angle_capture_width_ratio'] = this.machine_data['wave_angle_capture_width']
      this.setUpCWR()

      this.HTMLsummary = `<span>Characterisitc Length (m): ${ this.machine_data.main_dim_device }</span><hr>`
      this.HTMLsummary += `<span>Machine Archetype (-): ${this.machine_data.machine_archetype}</span><hr>`

      // var z = this.machine_data['device_capture_width_ratio'][0]
      // let x = this.machine_data['tp_capture_width']
      // let y = this.machine_data['hs_capture_width']
      // if (y.length == 1) {
      //   if (x.length == 1) {
      //     this.plot_data = false
      //     this.HTMLsummary += `<span>Capture Width Ratio (-): [${this.machine_data.device_capture_width_ratio}]</span><hr>`
      //     return []}
      //   this.layout.yaxis.title.text = 'Capture Width Ratio, (-)'
      //   return [{type: 'line', x: x,y: z[0]}]
      // }
      // let d = [{
      //   type: 'contour',
      //   line:{smoothing: 0.85},
      //   contours: {coloring: 'heatmap'},
      //   x: x,
      //   y: y,
      //   z: z
      // }]
      // return d
      return []
    },
    wec3() {
      this.machine_data['rated_pow_device']  = this.machine_data['rated_power_device']
      this.plot_data = true
      this.plot_cwr = true
      this.machine_data['device_capture_width_ratio'] = this.machine_data['power_matrix']
      this.machine_data['tp_capture_width'] = this.machine_data['tp_pm']
      this.machine_data['hs_capture_width'] = this.machine_data['hs_pm']
      this.machine_data['wave_angle_capture_width_ratio'] = this.machine_data['dir_pm']
      this.setUpCWR()

      // this.HTMLsummary = `<span>Characterisitc Length (m): ${ this.machine_data.main_dim_device }</span><hr>`
      // this.HTMLsummary += `<span>Machine Archetype (-): ${this.machine_data.machine_archetype}</span><hr>`
      // var z = mlib.squeeze(this.machine_data['power_matrix'])
      // let x = this.machine_data['tp_pm']
      // let y = this.machine_data['hs_pm']
      // let d = [{
      //   type: 'contour',
      //   line:{smoothing: 0.85},
      //   contours: {coloring: 'heatmap'},
      //   x: x,
      //   y: y,
      //   z: z
      // }]
      // return d
      return []
    },
    setUpCWR() {
      this.tp = [...new Set(this.machine_data['tp_capture_width'])]
      this.hs = [...new Set(this.machine_data['hs_capture_width'])]
      const beta = [...new Set(this.machine_data['wave_angle_capture_width_ratio'])]
      this.cwr_mat = this.unravel(this.machine_data['device_capture_width_ratio'],
                                  this.machine_data['tp_capture_width'],
                                  this.machine_data['hs_capture_width'],
                                  this.machine_data['wave_angle_capture_width_ratio'],
                                  this.tp, this.hs, beta)
      this.directions = beta.reduce((o, el, i) => ({ ...o, [i]: el + ' deg' }), {})
    },
    unravel(I, X, Y, Z, x, y, z) {
      debugger
      var arr = mlib.zeros(x.length, y.length, z.length)._data
      var l = 0
      var m = 0
      var n = 0
      for (let i=0; i<I.length; i++) {
        l = x.indexOf(X[i])
        m = y.indexOf(Y[i])
        n = z.indexOf(Z[i])
        arr[l][m][n] = I[i]
      }
      return arr
    },
  }
}
</script>
