{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Project {% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">The project ID is: {{ data[0] }} </form>

{% endblock %}