<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>

    <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <h4>farm - form</h4>
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="Target number of devices" prop="nb_devices">
            <el-input v-model="ruleForm.nb_devices" data-cy="nb_devices"></el-input>
          </el-form-item>
          <el-form-item label="Farm Layout Type" prop="layout_type">
            <el-select v-model="ruleForm.layout_type" data-cy="layout_type">
              <el-option label="User Specified" value="verification"></el-option>
              <el-option label="Optimization" value="optimization"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="optimization" label="Optimization Method" prop="opt_method">
            <el-select v-model="ruleForm.opt_method" placeholder="Optimization Method"  data-cy="opt_method">
              <el-option label="Monte Carlo" value="monte_carlo"></el-option>
              <el-option label="CMA-ES" value="cma_es"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="optimization" label="Optimization Threshold" prop="optimisation_threshold">
            <el-input-number v-model="ruleForm.optimisation_threshold" :precision="2" :step="0.05" :max="1"  data-cy="optimisation_threshold"></el-input-number>
          </el-form-item>
          <el-form-item v-if="optimization" label="Array Type" prop="array_generic_type">
            <el-input v-model="ruleForm.array_generic_type"  data-cy="array_generic_type"></el-input>
          </el-form-item>
          <el-form-item v-if="!optimization" label="Device Position" prop="array_layout">
            <el-input v-model="ruleForm.array_layout" placeholder="Device Position"  data-cy="array_layout"></el-input>
          </el-form-item>
          <el-form-item label="Notes" prop="notes">
            <el-input type="textarea" v-model="ruleForm.notes" data-cy="notes"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')"  data-cy="farmSubmit">Submit</el-button>
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";
import { mapActions } from 'vuex';

export default {
  watch: {
    "ruleForm.layout_type": function(val) {
      if (val == "optimization") {
        this.optimization = true;
      } else {
        this.optimization = false;
      }
      console.log(this.optimization);
    }
  },
  created() {
    this.get_farm_inputs();
  },
  data() {
    return {
      tableData: [],
      editing: null,
      test_table: [[0,0],[1,1]],
      drawer: false,
      direction: 'rtl',
      optimization: null,
      easting: null,
      northing: null,
      ruleForm: {
        nb_devices: null,
        layout_type: "verification",
        opt_method: "",
        optimisation_threshold: null,
        array_layout: [[0,0],[100,100]],
        notes: "",
        array_generic_type: ""
      },
      rules: {
        nb_devices: [
          {
            required: true,
            message: "Please input the target number of devices",
            trigger: "blur"
          }
        ],
        layout_type: [
          {
            required: true,
            message: "Please select how to specify the layout of the farm",
            trigger: "change"
          }
        ],
        array_layout: [
          {
            required: true,
            message: "Please define the device layout as [0,0],[100,100]",
            trigger: "change"
          }
        ],
        notes: [
          {
            required: false,
            message: "Please input activity form",
            trigger: "blur"
          }
        ]
      }
    };
  },
  computed: {
    isEditing: function() {
      return this.editing !== null
    }
  },
  methods: {
    ...mapActions({
      update_project_progress: 'status/update_progress',
    }),
    uploadDevicePosition() {
      this.$message({
              message: 'Not implemented yet',
              type: 'warning'});
    },
    addDevicePosition() {
      this.tableData.unshift({easting: this.easting, northing: this.northing})
    },
    deleteRow(index, rows) {
      rows.splice(index, 1);
    },
    onCellClick: function(row, column, cell, event) {
      this.editing = {
        row,
        column,
        cell
      }
    },
    onCellBlur: function(row, column, cell, event) {
      this.editing = null
    },
    handleClose(done) {
      this.$confirm('Are you sure you want to close this?')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    object2array() {  // TODO: conver the array_layout into a table form inputs
      return "[[0,0],[1,1]]"
    },
    get_farm_inputs() {
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/inputs/farm`;

      axios
        .get(path)
        .then(res => {
          console.log('FARM INPUTS', res.data);
          this.ruleForm.nb_devices = res.data.nb_devices;
          this.ruleForm.layout_type = res.data.layout_type;
          this.ruleForm.opt_method = res.data.opt_method;
          this.ruleForm.optimisation_threshold = res.data.optimisation_threshold;
          this.ruleForm.array_layout = [[0,0],[100,100]];
          this.ruleForm.notes = res.data.notes;
          console.log(this.ruleForm);
          var progress = 0
          if (res.data['machine_url'] != null) progress+=25
          if (res.data['site_url'] != null) progress+=25
          if (res.data['nb_devices'] != null) progress+=25
          this.update_project_progress(progress);
        })
        .catch(error => {
          console.error(error);
        });
    },
    submit_input(payload) {
      payload['array_layout'] = this.object2array()
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/inputs/farm`;
      axios
        .put(path, payload)
        .then(res => {
          var progress = 75
          if (res.data['machine_url'] == null) progress-=25
          if (res.data['site_url'] == null) progress-=25
          this.update_project_progress(progress);
          this.$message({
              message: 'Inputs saved',
              type: 'success'});
        })
        .catch(error => {
          console.error(error);
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submit_input(this.$refs[formName]._props["model"]);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      // TODO: delete farm inputs at click of reset button
    }
  }
};
</script>
