<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-row style="margin-left: 25px">
      <el-col :span="21">
        <h3>Project Progress</h3>
      </el-col>
      <el-col :span="1" style="margin-top: 10px">
        <el-button
          type="success"
          icon="el-icon-check"
          circle
          @click="get_results()"
          :disabled="status"
          data-cy="getResults"
        ></el-button>
      </el-col>
      <el-col :span="1" style="margin-top: 10px">
        <el-button icon="el-icon-edit" circle></el-button>
      </el-col>
      <el-col :span="1" style="margin-top: 10px">
        <el-button icon="el-icon-setting" circle></el-button>
      </el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <el-progress :text-inside="true" :stroke-width="20" :percentage="progress"></el-progress>
      </el-col>
    </el-row>

    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import axios from "axios";

export default {
  data() {
    return {
      status: true,
    };
  },
  computed: {
    progress() {
      return this.$store.getters.progress
    },
  },
  watch: {
    progress() {
      if (this.progress <75){
        if (this.status === false) {
          this.$notify({
                message: 'Calculate button disabled',
                type: 'warning'});
          this.status = true
        }
      } else {
        if (this.status === true) {
          this.$notify({
                message: 'Calculate button enabled',
                type: 'success'});
          this.status = false
        }
      }
    }
  },
  methods: {
    ...mapActions({
      update_project_progress: 'status/update_progress',
    }),
    get_results() {
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}`;

      axios
        .get(path)
        .then(res => {
          console.log(res.data);
          this.send_calculate_request(
            this.$route.params.ecId,
            res.data.type.toLowerCase(),
            res.data.complexity
          );
        })
        .catch(error => {
          console.error(error);
        });
    },
    send_calculate_request(id, mac, cpx) {
      console.log(id, mac, cpx);
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/results`;
      // const path = `http://localhost:5000/ec/${id}/${mac}/${cpx}/calculate`;
      axios
        .get(path)
        .then(res => {
          console.log("calculate", res.data);
          this.update_project_progress(100);
        })
        .catch(error => {
          if (error.response.status === 409) {
            this.$message({
              message: 'Action cannot be completed: Delete Project Results',
              type: 'error'});
          } else {
            this.$message({
              message: error,
              type: 'error'});
          }
        });
    }
  }
};
</script>
