<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-row :gutter="10">
      <el-col :span="20" :offset="2">
        <h4>machine form</h4>
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="Machine Model" prop="machine_model">
            <el-select v-model="ruleForm.machine_url" placeholder="Machine Model" data-cy="machine_model">
              <el-option v-for="item in machines" :key="item" :label="item" :value="item"></el-option>
            </el-select>
          </el-form-item>
          <div data-cy="machine_desc">
            <el-form-item label="Machine Description" prop="desc">
              <el-input type="textarea" v-model="ruleForm.desc"></el-input>
            </el-form-item>
          </div>
          
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')"  data-cy="machineSubmit">Submit</el-button>
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";
import { mapActions } from 'vuex';

export default {
  created() {
    this.get_project_status();
    // this.get_machines();

  },
  data() {
    return {
      machines: [],
      complexity: null,
      type: null,
      ruleForm: {
        machine_url: ""
      },
      rules: {
        number_devices: [
          {
            required: true,
            message: "Please input the target number of devices",
            trigger: "blur"
          },
          {
            message: "Length should be 3 to 5",
            trigger: "blur"
          }
        ],
        layout: [
          {
            required: true,
            message: "Please select Activity zone",
            trigger: "change"
          }
        ],
        dev_position: [
          {
            required: true,
            message: "Please define the device layout as [0,0],[100,100]",
            trigger: "change"
          }
        ],
        desc: [
          {
            required: false,
            message: "Please input activity form",
            trigger: "blur"
          }
        ]
      }
    };
  },

  methods: {
    ...mapActions({
      update_project_progress: 'status/update_progress',
    }),
    get_project_status() {
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/inputs/machine`;

      axios
        .get(path)
        .then(res => {
          console.log('MACHINE', res.data);
          this.ruleForm.machine_url = res.data.url;
          this.complexity = res.data.cpx;
          this.type = res.data.type;
          this.get_machines();
        })
        .catch(error => {
          console.error(error);
        });
    },
    get_machines() {
      const path = `${process.env.VUE_APP_API_URL}/mc/resources?cpx=${this.complexity}&type=${this.type}`;

      axios
        .get(path)
        .then(res => {
          console.log(res.data);
          var urls = [];
          res.data.forEach(function(arrayItem) {
            urls.push(arrayItem.url);
            console.log(arrayItem);
          });
          this.machines = urls;
        })
        .catch(error => {
          console.error(error);
        });
    },
    submit_input(payload) {
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/inputs/machine`;

      axios
        .put(path, payload)
        .then(res => {
          console.log('MACHINE RESPONSE', res);
          var progress = 75
          if (res.data['nb_devices'] == null) progress-=25
          if (res.data['site_url'] == null) progress-=25
          this.update_project_progress(progress);
          this.$message({
              message: 'Inputs saved',
              type: 'success'});
        })
        .catch(error => {
          console.error(error);
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submit_input(this.$refs[formName]._props["model"]);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>
