<!--
This is the Energy Capture (EC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>

    <el-dialog
      title="Upload Site Characterization Data"
      :visible.sync="dialog"
      width="auto"
      >
      <span>
        <el-upload
          class="upload-demo"
          style="margin-left: 35%"
          drag
          action="site/upload"
          :file-list="fileList">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
          <div class="el-upload__tip" slot="tip">json files with a size less than 500kb</div>
          <div class="el-upload__tip" slot="tip"><a href="../files/test.png" download>Download File Template</a></div>
        </el-upload>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelUpload">Cancel</el-button>
        <el-button type="primary" @click="submitUpload">Confirm</el-button>
      </span>
    </el-dialog>
    <el-row :gutter="10">
      <el-col :span="20" :offset="2">
        <h4>site form</h4>
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="Site Model" prop="site_model">
            <el-select v-model="ruleForm.site_url" placeholder="Site Model" data-cy="site_model">
              <el-option v-for="item in sites" :key="item" :label="item" :value="item"></el-option>
            </el-select>
          </el-form-item>
          <div data-cy="site_desc"> 
            <el-form-item label="Site Description" prop="desc">
              <el-input type="textarea" v-model="ruleForm.desc"  ></el-input>
            </el-form-item>
          </div>
         
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')" data-cy="siteSubmit">Submit</el-button>
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-row :gutter="10" v-if="show_summary">
      <el-col :span="22">
        <hr>
        <hr>
        <h1>Site Condition Summary</h1>
        <hr>
        {{ fileList }}
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";
import { mapActions } from 'vuex';

export default {
  created() {
    this.get_project_status();
  },
  data() {
    return {
      show_summary: false,
      sites: [],
      complexity: null,
      type: null,
      dialog: false,
      fileList: ['test.jpg'],
      imageUrl: '',
      formLabelWidth: '80px',
      timer: null,
      ruleForm: {
        site_url: ""
      },
      rules: {
        number_devices: [
          {
            required: true,
            message: "Please input the target number of devices",
            trigger: "blur"
          },
          {
            message: "Length should be 3 to 5",
            trigger: "blur"
          }
        ],
        layout: [
          {
            required: true,
            message: "Please select Activity zone",
            trigger: "change"
          }
        ],
        dev_position: [
          {
            required: true,
            message: "Please define the device layout as [0,0],[100,100]",
            trigger: "change"
          }
        ],
        desc: [
          {
            required: false,
            message: "Please input activity form",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    ...mapActions({
      update_project_progress: 'status/update_progress',
    }),
    uploadFile() {
      console.log('UPLOAD FILE')
    },
    submitUpload() {
      console.log(this.fileList)
      this.dialog = false
      this.show_summary = true
    },
    cancelUpload() {
      this.fileList = []
      this.dialog = false
      this.show_summary = false
    },
    get_project_status() {
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/inputs/site`;

      axios
        .get(path)
        .then(res => {
          console.log(res);
          this.ruleForm.site_url = res.data.url;
          this.complexity = res.data.cpx;
          this.type = res.data.type;
          this.get_sites();
        })
        .catch(error => {
          console.error(error);
        });
    },
    get_sites() {
      const path = `${process.env.VUE_APP_API_URL}/sc/resources?cpx=${this.complexity}&type=${this.type}`;

      axios
        .get(path)
        .then(res => {
          console.log(res.data);
          var urls = [];
          res.data.forEach(function(arrayItem) {
            urls.push(arrayItem.url);
            console.log(arrayItem);
          });
          this.sites = urls;
        })
        .catch(error => {
          console.error(error);
        });
    },
    submit_input(payload) {
      let id = this.$route.params.ecId;
      const path = `${process.env.VUE_APP_API_URL}/ec/${id}/inputs/site`;

      axios
        .put(path, payload)
        .then(res => {
          console.log('SITE RESPONSE', res);
          var progress = 75
          if (res.data['nb_devices'] == null) progress-=25
          if (res.data['machine_url'] == null) progress-=25
          this.update_project_progress(progress);
          this.$message({
              message: 'Inputs saved',
              type: 'success'});
        })
        .catch(error => {
          console.error(error);
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submit_input(this.$refs[formName]._props["model"]);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>
